<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关于我们|about</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/about.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/about-banner.png" alt="">
    </article>
    <section class="main">
        <article class="m-introduction">
            <hgroup class="m-tit">
                <h2 class="m-t-en">MY EARTH’S PROFILE</h2>
                <h1 class="m-t-zh">迈尔斯简介</h1>
            </hgroup>
            <div class="m-i-cont">迈尔斯国际教育依托专业背景及国际化团队优势，通过世界知名学校及顶级专业教育机构在内的全球合作伙伴网络，将庞大的全球领先的国际教育资源引入，再结合中国学生的自身特点与需求，打造出为各年龄段用户私人专属高品质的国际教育服务项目体系，以帮助未来精英们全面认识自我、提升综合能力，积累精英高端人脉，进而成功走向高端国际化高素质人才之路为目标。

                <br><br><div class="container">
                    <div id="middle">
                        <ul style="list-style: none">
                            <li>顶级项目证书认证</li>
                            <li>深度世界文化之旅</li>
                            <li>海外项目合作资源</li>

                        </ul>
                    </div>
                    <div id="left">
                        <ul style="list-style: none">
                            <li>金牌国际专业领队</li>
                            <li>结交百强国际经营</li>
                            <li>各国签证保证效率</li>
                            <li>资深导师保驾护航</li>
                        </ul>
                    </div>
                    <div id="right">
                        <ul style="list-style: none">
                            <li>精品品质国际小团</li>
                            <li>原址学习地道体验</li>
                            <li>权威海外实习推荐</li>

                        </ul>
                    </div>
                </div>
            </div>



        </article>
        <article class="m-timeLine">
            <hgroup class="m-tit">
                <h2 class="m-t-en">MY EARTH’S LINETIME</h2>
                <h1 class="m-t-zh">我们的时间线</h1>
            </hgroup>
            <ul id="timeLine" class="m-t-cont">
                <li class="m-t-c-row">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2006</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
                <li class="m-t-c-row">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2007</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
                <li class="m-t-c-row">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2008</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
                <li class="m-t-c-row">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2009</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
                <li class="m-t-c-row">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2015</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
                <!--最后一个加last-->
                <li class="m-t-c-row m-t-c-last">
                    <i class="m-t-c-line"></i>
                    <i class="m-t-c-dot"></i>
                    <span class="m-t-c-date">2016</span>
                    <!--<span class="m-t-c-ft">千库网是国内设计师喜欢的图片58ku.com为设计师提供各类好看免费的png图片和素材背景图片、背景素材、海报背景、背景、边框花纹素材、艺术字、主图好看免费的png图片和素材背景图片...</span>-->
                </li>
            </ul>
        </article>
        <article class="m-recruit">
            <hgroup class="m-tit">
                <h2 class="m-t-en">Recruitment Information</h2>
                <h1 class="m-t-zh">招聘信息</h1>
            </hgroup>
            <ul class="m-r-cont">
                <li class="m-r-c-row">
                    <h3 class="m-r-c-tit">1:人力资源经理</h3>
                    <dl class="m-r-c-box">
                        <dt class="m-r-c-b-tit">岗位描述：</dt>
                        <dd class="m-r-c-b-list">1、我们希望你的加入能够更加完善公司的人力资源管理系统，依据的发展战略和经营计划搭建公司良好的员工沟通渠道，不断深入各个职能部门的业务分析。</dd>
                        <dd class="m-r-c-b-list">2、善用独到的眼光帮助我们审核公司的人员编制，拟订并不断评估公司激励机制、福利保障制度。同时进行人员的招聘、选拔、聘用及配置，建立公司的优质人才库，保证团队精良的人才储备。</dd>
                        <!--<dd class="m-r-c-b-list">3、从头到位，忘记了谁，记住了睡大风吹冰淇淋流泪第二口蛋糕的紫薇，第二次生病了需要喝药水，从头到位，忘记了谁，记住了睡</dd>-->
                    </dl>
                </li>
                <li class="m-r-c-row">
                    <h3 class="m-r-c-tit">2:销售经理</h3>
                    <dl class="m-r-c-box">
                        <dt class="m-r-c-b-tit">岗位描述：</dt>
                        <dd class="m-r-c-b-list">1、优秀的你一定不仅局限于带领团队实现中心设定的销售目标，而是为潜在客户推荐最合适的国际留学产品详情，最大程度地提高销售过程的效率。</dd>
                        <dd class="m-r-c-b-list">2、我们相信专业的你能够通过开发新资源与挖掘旧资源，持续稳定地实现每个销售新目标。</dd>
                        <!--<dd class="m-r-c-b-list">3、从头到位，忘记了谁，记住了睡大风吹冰淇淋流泪第二口蛋糕的紫薇，第二次生病了需要喝药水，从头到位，忘记了谁，记住了睡</dd>-->
                        <!--<dd class="m-r-c-b-list">4、从头到位，忘记了谁，记住了睡大风吹冰淇淋流泪第二口蛋糕的紫薇，第二次生病了需要喝药水，从头到位，忘记了谁，记住了睡</dd>-->
                    </dl>
                </li>
                <li class="m-r-c-row">
                    <h3 class="m-r-c-tit">3:项目产品经理</h3>
                    <dl class="m-r-c-box">
                        <dt class="m-r-c-b-tit">岗位描述：</dt>
                        <dd class="m-r-c-b-list">1、	我们力求每一个产品都是走在行业前沿的标杆风向标，所以如果说一名合格的产品经理是负责开拓境外的合作资源，确保产品的品质和客户满意度的质量把控者。</dd>
                        <dd class="m-r-c-b-list">2、一定能开拓更多境外的合作资源，确保产品的高品质和客户满意度，并不断根据市场动向对游学产品进行产品升级或调整，为我们的更多产品提出最具创意的理念。</dd>
                        <!--<dd class="m-r-c-b-list">3、从头到位，忘记了谁，记住了睡大风吹冰淇淋流泪第二口蛋糕的紫薇，第二次生病了需要喝药水，从头到位，忘记了谁，记住了睡</dd>-->
                    </dl>
                </li>
                <li class="m-r-c-row">
                    <h3 class="m-r-c-tit">4:新媒体运营主管</h3>
                    <dl class="m-r-c-box">
                        <dt class="m-r-c-b-tit">岗位描述：</dt>
                        <dd class="m-r-c-b-list">1、 作为我们的新媒体运营官，你必然是我们在海外研习领域线上推广的关键。</dd>
                        <dd class="m-r-c-b-list">2、你的工作既独立又与整个市场、运营团队相辅相成。</dd>
                        <dd class="m-r-c-b-list">3、我们需要的不仅仅是优质的合作伙伴，还潜心寻找赋才华、有创意、热衷新媒体运营的头脑风暴家。</dd>
                    </dl>
                </li>

            </ul>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jq.min.js"></script>
<script type="text/javascript">
    /*timeLine*/
    void (function(){
        var timeLineEmt = $('#timeLine'),
                rowEmt = timeLineEmt.find('.m-t-c-row');
        var winHeight = $(window).height(),
                timeOffTop = timeLineEmt.offset().top;

        rowEmt.find('.m-t-c-dot, .m-t-c-date').on('mouseover', function(){
            var row = $(this).parent('.m-t-c-row');
            if(row.is('.select')) return;
            rowEmt.removeClass('select');
            row.addClass('select');
            rowEmt.find('.m-t-c-ft').hide()
            row.find('.m-t-c-ft').stop(true,true).slideDown(600);
        })

        $(window).scroll(function(){
            if($(window).scrollTop() >= timeOffTop-winHeight/1.5){
                $(window).unbind('scroll');
                rowEmt.eq(0).addClass('.select').find('.m-t-c-ft').stop(true,true).slideDown(600);
            }
        })
    })()
</script>
</body>
</html>