<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>迈尔斯社群|MY EARTH’S Community</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/community.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/communitybanner.png" alt="">
    </article>
    <section class="main2">
        <article class="m2-info">
            <img class="m2-i-pic" src="__PUBLIC__/images/community/detail1-2.jpg" alt="">
            <div class="m2-i-wrap">
                <h3 class="m2-i-name">Sam / 美国官方教育中心驻中国顾问</h3>
                <p class="m2-i-intro">经验丰富值：
                    8年美国留学申请经验。
                    <br>专业优势：
                    擅长留学规划，申请指导，签证培训等相关服务。
                </p>

                <p class="m2-i-recom">
                    成功案例：
                    曾为学生申请到“常春藤”名校、斯坦福、加州大学伯克利、芝加哥等顶级院校。

                </p>
            </div>
        </article>
        <a class="m2-btn" href="javascript:history.go(-1)" title="返回"></a>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>