<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>迈尔斯社群|MY EARTH’S Community</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/community.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/communitybanner.png" alt="">
    </article>
    <section class="main2">
        <article class="m2-info">
            <img class="m2-i-pic" src="__PUBLIC__/images/community/detail2-4.jpg" alt="">
            <div class="m2-i-wrap">
                <h3 class="m2-i-name">田洁</h3>
                <p class="m2-i-intro">自从美国本硕毕业后回国进入留学行业工作，至今做为一名资深留学顾问已有10余年的工作经验。在多次代表行业到访美国进行交流的期间，我带领团队连续多年荣获公司先进个人奖和先进团队管理奖。，并且先后为上千位申请人赢得了TOP 20的顶级名校录取，他们的信任已经成为了我未来工作最强有力的坚实基础。
                    <br><br>作为一个尤其注重团队合作的人，我相信，留学成功与否，不仅在于对学生个人的关注，也在于背后专业团队的坚持。细心、耐心、责任心，是我们团队的精神；勤勤肯肯、兢兢业业、精益求精，则是我们团队工作的态度。
                    <br><br>如果说通往梦想的道路曲折艰苦，那我的职责就是做您扬帆起航的灯塔。我愿用我的真诚与能力带领我们的团队，为学生实现申请名校的目标。
                </p>
                <p class="m2-i-recom"></p>
            </div>
        </article>
        <a class="m2-btn" href="javascript:history.go(-1)" title="返回"></a>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>