<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">实现自己的弹性空间</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：“Go Campus”美国奖学金计划</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec3-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                <br>姓名：周同学

                <br>托福／雅思：无

                <br>GPA：75

                <br>申请到的学校：南犹他大学

                <br>申请专业：会计专业

                <br>每年学生仅需支付：16000美元（二年共支付32000美元）

                <br><br>对于如何提高学习效率这件事情，可以说一直是我自己比较苦恼的一个问题。然而在美国，我体验到了与中国完全不同的教学方式，和死记硬背的纯理论学习方法相比，美国教育十分注重实际运用。就比如说我今天学到了什么，老师就会立刻引导我们思考如何在生活里把它运用起来，如果一旦发现了可行的方式，老师就会鼓励我们去大胆尝试，偶尔，还会让我们写一个简单的实用报告。所以在“美式教育”里我明显感觉到“学以致用”便是最大特点之一。
                <br><br>短短的几个月中，我不仅学到了知识，还了解了合理使用金钱的方式。不同于美剧里挥金如土的夸张情节，真实生活里的美国人其实十分节约。在这里很流行AA制，甚至在男女朋友之间也“雷打不动”，并且还都是双方要求这么做的。现实和“理想”差距如此之大，我都惊讶得一时难以适应了。
                <br><br>和中国人“含蓄内敛”的传统不同的还有，美国人也都是“直肠子”，他们对朋友坦诚相待，如果你做的不对，他们会当面告诉你，以及相应的解决办法：“你不应该这么做，你应该怎么做”，而这种情况如果发生在中国的话，可能大家会认定你是一个不懂礼貌的人吧。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec3-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">比较庆幸的是我的性格比较外向，不怕生，来到这里虽然只有几个月，但已经交到了许多朋友，他们也都来自世界各地——有韩国学生、墨西哥学生、阿拉伯学生。当然，最多的还是美国本地学生。他们都很有礼貌，善解人意，尤其尊重各国习俗，也正是这一点让我认识到，美国是一个包容性很强的国家。不久前我还和阿拉伯朋友聚餐，看到他们直接用手吃“手抓饭”着实在很新鲜、很有趣、也很带劲。我也在他们的指导下，学会了怎么用手抓着吃饭，因为吃饭所用到的手势，也有大大的学问。所以说，生活里处处充满了学问。
                <br><br>最值得一提的还是雪松城的夏季。这里会举办莎士比亚节，到时候将会有来自全球各地喜欢戏剧歌剧的朋友欢聚在这里，非常热闹。整个夏季我都将在歌剧声中度过，而作为一个歌剧迷，光是想象，就已经让我很激动了。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>