<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">小小少年的奇幻之旅——关于这一次全新的自我探索</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：“Go Campus”美国奖学金计划</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/det3.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">

                姓名：郑同学
                <br>托福／雅思：无
                <br>GPA：85
                <br>申请到的学校：帕克大学
                <br>申请专业：计算机专业
                <br>每年学生仅需支付：13900美元（四年共支付55600美元）
                <br><br>美国的大学校园里到处洋溢着青春自由的气息，从校园到课堂再到教室，我明显感到一切世俗的框框架架都似乎跟这个国度毫无干系。而初到一个陌生的过度，虽然在生活上，学习上都会碰到这样那样的困难，但在不断汲取知识的同时，我也感到非常充实，甚至我已经能很好的调整状态，迎战每一次的挑战。
                <br><br>关于教育模式，关于GPA，之前总是听人说，在美国看重素质教育，大家非常淡化成绩的好坏，甚至对待课外活动也比学习更加看重等等。但一年的过程下来，我却反而深刻地感受到学习的重要性、GPA的重要性，这大概就是美式教育的神奇之处，它似乎能充分调动人的主观能动性。美国的College都是非常看重自己的Academic Reputation的，首先学校给每一位学生提供了宜人的读书环境，那么接下来考验的就是自己的主动性了。所以综合来说，并不是美国学校不看重学习成绩，他们考验的更多的，其实是自控能力。
                <br><br>当然，除了自己钻研，学校更加推崇同学间的讨论和合作。在课堂的小组讨论活动中我很愿意热情地加入其中，每一次的合作都是对语言能力，对友谊加深，都有着莫大的帮助。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/det4.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">得一提的是，我是高中毕业就直接申请了美国的公费留学，所以年龄相对同届的美国学生来说，我稍微小了一些。但在这里，没有人会因为你年龄小就把你当作弟弟一样来看待。反而，大家都是一种成年人的心态来待人做事。这也是让我感触很大的一点——用更加谨慎的心态，做一个更成熟的人。
                <br><br>在学业中，我觉得最大的收获是让我变得更加地自尊自爱，自信自律了，我会感谢我现在经历的这段岁月的！
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>