<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">漫步理想人生路，谨记纯真初心梦</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：“Go Campus”美国奖学金计划</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec2-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：王同学
                <br>托福／雅思：61
                <br>GPA：85
                <br>申请到的学校：林登沃德大学
                <br>申请专业：金融专业
                <br>每年学生仅需支付：11300美元（四年共支付45200美元）

                <br><br>从小呢我就有一个想成为盖世英雄的梦想，这个梦想伴随了我整整18个年头，现在虽已是个小大人模样，但是可以说这颗童年的初心倒是一直没有忘怀。所以能有一次出国留学机会的话，那一定就是美国。但美国留学似乎一直给人“奢侈”的印象，所以我的各种现实问题堆积在一起考虑的话，心里还是稍微有那么一点自卑，所以一直也没有想过主动去了解。直到GO CAMPU项目的适时出现，才让我得以以最小的付出圆梦。
                <br><br>虽然对于留学的向往由来已久，可真正要走时，选择哪所大学成为了我的第一个难关。是选择名校？还是选择主流专业？亦或者看当地的生活及工作资源？在我苦恼之极时，GO CAMPUS计划帮助我从茫茫的美国大学海洋中选出最适合我的那一份小小天地。
                <br><br>在LINDENWOOD学习的时间里，我不禁感到这所美国高校和我简直是天作之合，课程更是较国内的一些本科课程的专业覆盖度更强，而且还有着国内一些高校无法相比的学习资源。有了最喜爱的学习环境前提，我的学习劲头也更足了，用我同学的话来说，那就是“似乎每天都有用不完的精力”。虽然是戏谑我的话，但事实也确实如此。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec2-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">既然已经到了美国，我当然要抓紧时间好好努力了。光阴似箭的道理每一天似乎都在提醒着我切莫虚度时间。来了美国后，有了纯英文的生活学习环境，我的英语能力也在短短时间内有了巨大的突破，这也是最让我惊喜的一点。
                <br><br>和同学们一起生活学习的同时，我也领略了美国校园文化。虽然美国学生平常生活衣着都很随便，但其实每个人都至少有一套正装，一遇到正式的宴会、讲座时，大家就西装礼服加身，尽有绅士淑女的作风。
                <br><br>能够感受西方文化，体验美国校园生活，拥有尤其好的学习资源——这一切都归功于GO CAMPUS项目。不仅如此，它还为我提供了及时雨般的高额奖学金支持，让我的家庭得以负担我的留学之梦。在这里，要谢谢每一个帮助过我的GO CAMPUS 的工作人员，是你们让我的世界充满了阳光。
                之后属于我的道路，我将会用更多的心血去铺垫。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>