<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">朋友在澳洲，“朋友在中国”</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：澳大利亚游学之《精彩纷呈的澳洲研学之旅》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec7-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：叶同学
                <br><br>进行分班测试的那天是我来澳洲游学的第2天，测试的标准是不同的英语水平。测试之后，大家就被分到了最适合自己的班级。和我也一样，刚刚进到班级里面，每个人彼此看到的都是新面孔，所以大家一开始都还是挺害羞的，但是上了几节课之后，我们彼此渐渐熟络，敞开心扉谈天说地，当然也就渐渐成为了好朋友。
                <br><br>在这次游学中，几乎所有课程里的小项目，都需要分组来完成，而这考验的就是我们的团队协作能力——每个人在组里的分工是什么？大家细化开来的问题又要如何解决？小问题的答案有了，如何组织成一完整的项目或者结论？这些，都是需要大家一起来想。而如果有什么意见，大家也都会说出来，彼此交流沟通，要是遇到困难或疑惑的问题，我们也都会先自己“内部解决”，实在没办法，我们才会问老师。所以，其中也不乏有绞尽脑汁的时候。但说实话，我个人其实还挺享受这个过程的，毕竟中西方不同文化的思想碰撞在一起的感觉，会让人意外收获很多惊喜。
                <br>
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec7-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">课上得多了，我们对彼此也就越来越了解，渐渐的，大家也更能说到一块儿，玩儿到一块儿了。凡事总要有个过程，而跨过陌生、尴尬的困难之后，我们最后得到的，就是令人舒心的交谈。没有想到外国的小伙伴对于中国的历史、文化、人文和发展等等竟然是那么感兴趣，大多数人还从来没有去过中国，而我们中的大多数也是第一次来澳洲。所以随着交谈的深入，大家互相都对对方的国家文化有了一些了解，我们的关系也越来越近了。因为我们一直用英文交流，所以我的英语水平也逐渐得到了提升。不仅如此，我的澳洲小伙伴会贴心地告诉我我的语法错误，之后还会帮我进行纠正。所以到最后，我也终于能用英文自如地和他们交流了。而我们的话题，也变得越来越多。
                <br><br>离别的时候，我和我的澳洲小伙伴交换了联系方式，我们都相信，无论在地球上的任何一个地方，我们都能畅所欲言。现在我有了在澳洲的朋友，而他们却说，他们现在有了在中国的朋友。我想，可能缘分就是这么奇妙吧。谁曾想到，一次游学，竟然让我交到无话不说的好友呢？
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>