<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">游学日记</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：英国游学之《学术剑桥，碰撞英伦文化》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec9-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：贾同学
                <br><br>飞机坐太久，身体都快麻木，好在最后终于平安地到达目的地——英国，我来啦！
                <br><br>一直以来，对于英国都很是向往呢，那里不仅有神秘的巨石阵，还有十分古老的皇室家族……我也常常给爸妈说以后想要去英国留学，不过爸妈总是觉得我还小，所以会找出各种理由来拒绝我：什么你不会做饭，没有人保护你，遇到坏人了怎么办……可能高中生在父母的眼里还是小孩子……不过这一次，可以来英国游学，也算是提前给留学做一个预备，看看自己是否真的可以适应国外的教育。
                <br><br>办理好所有手续后，我就搭上了飞往英国的航班。到达第一天，我们就来到了剑桥……没错，就是那个培养出了92位诺贝尔奖获得者的世界著名学府……我努力掩饰着内心的激动，心里却已经想象开了……
                <br><br>剑桥的环境怎么样？如何在剑桥学习？我们可以在剑桥上课吗？
                <br><br>最后，我的所有疑问都得到了解答。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec9-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">剑桥的环境很美，处处都是鲜花绿草；剑桥的学习很自由，大家都可以说出自己的想法，交换意见，而这一点，我就是从课程上得到的。
                <br><br>到达的第二天，我们就进行了分班测试，老师也帮助我们每个人都了解到了自己的英文水平。我还不错，因为平时比较喜欢英语，再加上学校里老师也有教，所以简单的日常对话对我来说，就没有什么大问题。但是后来，我就有点吃力了。
                <br><br>后来的课程中，有一项是让剑桥的博士生导师带领我们进行课题研究以及之后的课外活动，有时候会用到一些比较难的词汇，毕竟英文不是自己的母语，很多词汇不是不知道，就是一下子想不起来……虽然课程进行得有些慢，最后大家还是合作完成了。我也把那些比较难的词汇都记在了手机里，希望以后可以用得到。
                <br><br>之后的学习，基本也都在剑桥度过。最大的感受还是觉得自己的英文还不够好，毕竟在国外，英文就是通行语言，生活里方方面面都会用到。这一次的英国游学，也让我明白自己的劣势——英文还不够好，还得多练多学。不过我还有一段比较充裕的时间可以准备，希望自己之后去英国留学的时候，就不会再因为语言而觉得困难啦。
                <br><br>最后附上自己远远拍摄的巨石阵的照片~
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>