<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">寻英记：玩味英式风情</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：英国游学之《学术剑桥，碰撞英伦文化》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec11-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：黄同学
                <br><br>我这人最大一个爱好就是看英剧，不过发现了一大特点就是英国人似乎很喜欢自己举办各种各样的party。英剧看多了，自然也就对英国有了很多天马行空的期待，也一直很想要去了解下英国人真正的生活方式。而这次去英国游学，就是很好的一个了解英国的机会，当电视剧变成了现实，又会发生什么故事呢？
                <br><br>于是我和小伙伴们一起，乘上了前往英国的飞机，云端之上，我的心也变得飘飘忽忽。
                <br><br>飞机终于落地了，刚刚到英国，就碰上当地人正在举行PARTY，于是我赶紧拿起手机，拍下照片，开始记录起我的英国游学生活。
                <br><br>到另一个陌生的地方，当然要品尝下当地的美食，然而英国最典型的美食居然是炸鱼薯条……好吧，味道其实还是相当不错。
                <br><br>填饱肚子，好好休息后，第二天，我们的学习就正式开始了。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec11-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">而学习的地方，居然真的是在我心中殿堂级的名校“剑桥”里面！虽然报名之前对于游学的项目产品早就了解过了，而且来之前自己已经有了一定的心理准备，但是当我真正进入剑桥大学后，还是深深地被这里古朴浓厚的学习氛围所感染。而我们所有英文课程的学习，也都是由剑桥的博士生导师带领——自己还是有点受宠若惊的……而我们学习的主要方法，也都是小组合作讨论项目，再由导师进行点评。本来游学开始前，大家都还不认识，上了几堂课之后，大家就都熟悉起来。老师也非常的热心，有时候会默默地站到我们旁边听，偶尔也会提出一些改进的建议。这样自由的学习方式，最大的作用就是各抒己见，每个人的想象力与组织力都得到了大大的发挥。每次下课，我自己都感觉有些不舍，还想和大家讨论得多一点~
                <br><br>因为身在英国，再加上英文课程有时候是中英学生一起上课，所以需要用到英文的地方特别多。本来我说英文比较慢，而且说之前总要想半天，生怕自己说错；但是两周之后，我就能很快地用英语回答问题，或者是说出自己的想法——主要也是自己更自信了，嘻嘻。短短的两周，就能改变这么大，我很开心，也很惊喜。这恐怕就是此次游学所给我的最好的礼物吧。
                <br><br>学习之余，我们还一同参加了很多英国的著名景点。我觉得最漂亮的就是伦敦眼了——那么大的一个圈，竖立在城市的中央，仿佛在圈的那一边还有另一个世界……好吧，我的想象力又被打开了，哈哈。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>