<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/consulting.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consulting-banner.png" alt="">
    </article>
    <section class="main">
        <ul id="fadeIn" class="m-cont">
            <li class="m-c-row fadein-row">
                <article class="m-c-r-lt">
                    <h3 class="m-c-r-tit">遇见另一个自己——记澳洲游学日记 <span class="m-c-r-date">参与项目：澳大利亚游学之《精彩纷呈的澳洲研学之旅》</span></h3>
                    <div class="m-c-r-cont">姓名：张同学
                        澳大利亚，因为其矿产出口量全球第一，所以被称作“坐在矿车上的国家”。同时，又因为澳大利亚放养绵羊数量和出口羊毛最多，所以也被称为“骑在羊背的国家”。
                        而这次游学，我选择的就是去澳大利亚。经过长时间的飞机旅行和繁琐的转机之后，我们终于到达了目的地。</div>
                    <a class="m-c-r-btn" href="consulting-detailed5.html">了解更多</a>
                </article>
                <a class="m-c-r-rt" href="consulting-detailed5.html"><img class="m-c-r-img" src="__PUBLIC__/images/text/pic5.jpg" alt=""></a>
            </li>

            <li class="m-c-row fadein-row">
                <article class="m-c-r-lt">
                    <h3 class="m-c-r-tit">与白鸽共同起舞的日子 <span class="m-c-r-date">参与项目：澳大利亚游学之《精彩纷呈的澳洲研学之旅》</span></h3>
                    <div class="m-c-r-cont">姓名：叶同学
                        游学一直都是我假期的学习计划之一，这一次，终于可以实现啦。而我游学之地，就是澳洲。既然我自己是把此次游学列为学习计划，肯定就少不了知识的吸收部分。而此次游学的所有课程，基本上都是全英文上课。</div>
                    <a class="m-c-r-btn" href="consulting-detailed6.html">了解更多</a>
                </article>
                <a class="m-c-r-rt" href="consulting-detailed6.html"><img class="m-c-r-img" src="__PUBLIC__/images/text/pic6.jpg" alt=""></a>
            </li>
            <li class="m-c-row fadein-row">
                <article class="m-c-r-lt">
                    <h3 class="m-c-r-tit">朋友在澳洲，“朋友在中国” <span class="m-c-r-date">参与项目：澳大利亚游学之《探秘南半球之筑梦澳洲》</span></h3>
                    <div class="m-c-r-cont">姓名：叶同学
                        进行分班测试的那天是我来澳洲游学的第2天，测试的标准是不同的英语水平。测试之后，大家就被分到了最适合自己的班级。和我也一样，刚刚进到班级里面，每个人彼此看到的都是新面孔，所以大家一开始都还是挺害羞的.</div>
                    <a class="m-c-r-btn" href="consulting-detailed7.html">了解更多</a>
                </article>
                <a class="m-c-r-rt" href="consulting-detailed7.html"><img class="m-c-r-img" src="__PUBLIC__/images/text/pic7.jpg" alt=""></a>
            </li>
            <li class="m-c-row fadein-row">
                <article class="m-c-r-lt">
                    <h3 class="m-c-r-tit">剑桥，我轻轻地来了 <span class="m-c-r-date">参与项目：英国游学之《学术剑桥，碰撞英伦文化》</span></h3>
                    <div class="m-c-r-cont">
                        姓名：李同学
                        随着飞机降落，我和小伙伴终于到达了英国，每个人的那股兴奋劲儿都还没缓过来，似乎对于英国这个陌生的国度，我们每个人都有想要去探索的地方。在游学的这些日子里，我认识到英国的历史文化之悠久，当然著名景点也是相当之多。</div>
                    <a class="m-c-r-btn" href="consulting-detailed8.html">了解更多</a>
                </article>
                <a class="m-c-r-rt" href="consulting-detailed8.html"><img class="m-c-r-img" src="__PUBLIC__/images/text/pic8.jpg" alt=""></a>
            </li>
        </ul>
        <div class="m-page">
            <!-- class[m-p-disable:禁用] [m-p-select:当前页面]-->
            <a class="m-p-prev" href="../Article/consulting.html">上一页</a>
            <a class="m-p-num" href="../Article/consulting.html">1</a>
            <a class="m-p-num m-p-select" href="consulting-2.html">2</a>
            <a class="m-p-num" href="consulting-3.html">3</a>
            <a class="m-p-next" href="consulting-3.html">下一页</a>
        </div>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jq.min.js"></script>
<script type="text/javascript">
    /*fadeIn*/
    void (function(){
        var fadeInEmt = $('#fadeIn'),
            fadeInRowEmt = fadeInEmt.find('.fadein-row');
        function Isshow(){
            var winTop = $(window).scrollTop(),
                winHeight = $(window).height();

            fadeInRowEmt.not('.show').each(function(i, val){
                var  zTop = $(val).offset().top;
                zTop-winTop <= winHeight &&  zTop-winTop >= 0 && $(val).addClass('show');
            })
        }Isshow();
        $(window).scroll(function(){Isshow()})
    })()
</script>
</body>
</html>