<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">来，我们做个交换</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：英国游学之《学术剑桥，碰撞英伦文化》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec10-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：林同学
                <br><br>小时候，就曾经和小伙伴写过交换日记，那时候的经历现在看起来都很幼稚，不过就是写一些琐事；长大后，和别人交流的就是自己的意见了。“如何更有效率地和别人交换意见”也是我在这一次的游学中学到的心得。
                <br><br>本来自己明年就要去英国留学了，但是爸妈担心我不适应那边的学习环境，所以就让我提前先去英国游学，各方面都先去感受感受，于是乎，我就参加了这一次的英国剑桥留学项目。
                <br><br>出门时，最好随身都要带一把雨伞——这是临走时，妈妈对我的嘱咐。确实，英国的天气很多变，指不定什么时候就会下雨。不过和天气一样，英国的教育方法也很多变。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec10-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">“自由的学习模式下会滋生最自由的思想”——忘记是在哪里看过的这句话，却被验证在了这次的英国游学经历里。
                <br><br>这次主要就是在英国剑桥大学里学习，虽然之后也去了牛津，不过去那里只是参观。课程都是由剑桥的博士生导师主持的，其中最有意思的是国际混合教学。刚刚进入教室，大家对彼此都有些陌生。导师就把我们分成了两拨，一边是英国学生，一边是外国学生。
                <br><br>在讲清楚我们所需要做的项目的要求后，中英学生就被混合到一块儿，分成了许多个三人小组。老师给了我们每组一个小的课题，于是，讨论就开始了。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>