<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">剑桥，我轻轻地来了</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：英国游学之《学术剑桥，碰撞英伦文化》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec8-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：李同学
                <br><br>随着飞机降落，我和小伙伴终于到达了英国，每个人的那股兴奋劲儿都还没缓过来，似乎对于英国这个陌生的国度，我们每个人都有想要去探索的地方。在游学的这些日子里，我认识到英国的历史文化之悠久，当然著名景点也是相当之多，比如伊利大教堂，还有温莎城堡这些美丽的风景都定格在了我的相机里，但对我来说，我觉得英国最吸引我的地方，还是剑桥大学。
                <br><br>“轻轻地，我走了，正如我轻轻地来。”徐志摩是我很喜欢的诗人之一，1920年，他就到了英国游学，也正是因为想追寻他的足迹，我才会选择参加这次英国游学，所以我来英国之前无数的幻想都是围绕着剑桥大学。
                <br><br>本来我们都以为只能观摩剑桥学子上课的情景，没想到，竟然是直接由剑桥的博士生直接带领我们上课，第一次零距离接触这样的国际顶尖人才，我和小伙伴们简直像如获至宝一样珍惜着课堂上的点点滴滴，每分每秒。我印象中最深刻的就是，在剑桥的第3天，有一堂由剑桥大学博士导师带领的一个特色英文课，这门课是针对非英语国家学生的学习英语特点而特别定制的。虽然到今天为止，中国人对于学习英语在克服“哑巴英语”上已经有了很大的进步，但是我们在刚刚上课时，还是有些羞于开口。毕竟英国女皇曾经说过“世界上没有一种叫做美式英语的东西,只有英语和‘mistakes’”这么霸气的话，所以我心里也给自己打了不少气：既然在英国的地盘，如果被人打击发音也是很正常的！
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec8-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">这也导致了我从来都有些不敢说英文——生怕自己的发音不准，招人笑话。但是在特色英文课上，导师一来就打消了我们的疑虑。他教导我们改变我们的疑虑：“口音并不是重要的，语言是交流的工具。”所以在接下来的课程当中，他也十分鼓励我们大胆地说英文，还时不时就某些问题让我们提出自己的想法和观点。
                <br><br>在这次游学中，但最让我收益的，是互动式英语课程。对于英国人来说，英文就是他们的母语，很多语法要点都是信手拈来。而在中国，英文语法经过中文翻译后，有时候总会让人觉得有些难以理解。虽然互动课程里所教授的语法并不是很多，但还学到了更重要的——是以更简单的方式理解语法，而不是纯粹的刷题。听过导师的解释，才明白语法岂是并不难。不过，尽量多的联系也是很有必要的。
                <br><br>说了这么多的学习，来到英国，肯定也是要游历一番的。很早的时候，就看了哈利波特的系列电影，所以到了英国，我也终于去到了神秘的火车站台，自己的小小心愿也算是完成了。
                <br><br>之后也去了其他的著名景点：大笨钟，巨石阵，大英博物馆……
                <br><br>“轻轻地，我走了，正如我轻轻地来。”
                <br><br>游学结束，再见剑桥，再见英国，离别就是为了再次相见……
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>