<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">与白鸽共同起舞的日子</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：澳大利亚游学之《精彩纷呈的澳洲研学之旅》</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec6-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：叶同学
                <br><br>游学一直都是我假期的学习计划之一，这一次，终于可以实现啦。而我游学之地，就是澳洲。
                <br><br>既然我自己是把此次游学列为学习计划，肯定就少不了知识的吸收部分。而此次游学的所有课程，基本上都是全英文上课。刚刚开始游学的时候，我感觉还没什么，但是真正上起课来，我就开始苦恼了。
                <br><br>因为生活里用到英文的机会比较少，所以我平常练习得也比较少。所以刚刚来澳洲的时候，我有什么需求，都会求助我的小伙伴或者向导……直到有一次长英文课时，被老师发现了我英文的弱项，他就开始“关注”我，尝试通过各种机会让我多多说英文……不得不承认，一开始还是有点煎熬的，但是后来慢慢就好了，我也从最初的不说，成长到了被动地、可以较顺利地说，最后就达到了主动地、顺利地说的地步。这些进步，我都不敢相信竟然是在短短两周的时间内发生的。后来快离开澳洲，和老师和朋友们道别时，恍然间我都被自己的英文水平惊讶到。看来，密集训练英文脱口而出，效果十分显著呀。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec6-3.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">这应该就是此次游学我得到的最有价值的东西了，英文作为语言，就是用来说的，不用更害怕失败，大胆张嘴就可以了。不过这次经历也告诉我，锻炼英语能力最好的办法就是勇敢的面对最真实的自己，然后just do it!
                <br><br>For this journey, I feel like learning all the time , because I have to speak English in any kind of situation.
                <br><br>这句话是在英文课程上，当老师让我们用一句话来描述此次游学的最大感受时，我的回答。没错，毕竟是在国外，英文作为语言的工具，肯定是少不了的。听完我的回答，老师很开心的笑了，他也回了我一句话。
                <br><br>“Alright，you may have to learn more, cause life is everywhere. ”
                <br><br>好吧，果然生命不息，学习不止~~
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>

        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>