<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">遇见另一个自己——记澳洲游学日记
            </h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：澳大利亚游学之《精彩纷呈的澳洲研学之旅》</p>
            <!--<img style="width:100%;height:auto;margin:55px 0" src="images/text/det3.jpg" alt="">-->
            <p style="font-size:16px;line-height:26px;color:#525151">
                <br><br>姓名：张同学
                <br><br>澳大利亚，因为其矿产出口量全球第一，所以被称作“坐在矿车上的国家”。同时，又因为澳大利亚放养绵羊数量和出口羊毛最多，所以也被称为“骑在羊背的国家”。
                <br><br>而这次游学，我选择的就是去澳大利亚。经过长时间的飞机旅行和繁琐的转机之后，我们终于到达了目的地。到达澳大利亚，不仅仅是我，几乎每个人都是既兴奋又有些担忧——兴奋是因为我们来到了澳大利亚；而担忧，则是因为我们要住的，是当地的住宿友好家庭。
                <br><br>刚刚到达住宿友好家庭时，我有些紧张，呆在自己的房里也不知道做什么。后来，我索性大胆地走出去，和主人们交谈起来，他们并没有因为我是“客人”，就对我很生疏，反而很热情地欢迎我加入他们的家庭谈话。当然，他们所谈论的都是些生活琐事，虽然都不是重要的事情，但也颇有趣味，不知不觉间，我就轻轻松松地上了一堂英文口语交流课。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec5-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">在接下来的日子里，几乎每一天都会有不同主题的学习，有的是主题游览，有的是英文课程讲授。其中，给我印象最深的，就是澳洲文化与体育运动主题的英文课程。因为在这一堂课中，我们不仅了解了澳洲的许多体育运动，老师还让我们踊跃发言，用英文向大家介绍中国流行的体育运动。作为男生，首先我自己本身就很喜欢运动，再加上平常我也会看看相关的新闻或者比赛，所以在介绍的时候，完成得比较顺利，哈哈。
                <br><br>当然，老师其实是让所有人都上台介绍自己所喜欢的运动，再对我们的介绍一一进行点评或建议，最后，每个人都得到了锻炼。如果谁中途因为紧张或者忘词停止了，老师则会不断鼓励，让我们帮助他一起完成。接下来的日子里，几乎所有的课程也都是用这样的方式完成。而在课程结束之后，不仅每个人都学会了一些英文讲述的方法或者英文词汇，我们一起游学的小伙伴也都更加熟悉彼此了。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>