<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>达人资讯详情|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>

            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/consolting-det-banner.jpg" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 style="margin:20px 0;font-size:30px;text-align:center;color:#1e3124">时间证明能力，能力基于实践</h1>
            <p style="text-align:center;font-size:24px;color:#7c7b7b">参与项目：“Go Campus”美国奖学金计划</p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec4-1.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">
                姓名：杨同学

                <br>托福／雅思：雅思6.5

                <br>GPA：3.04

                <br>申请到的学校：卫斯理大学

                <br>申请专业：MBA专业

                <br>每年学生仅需支付：16000美元（二年共支付32000美元）
                <br><br>图书馆里安静得只能听见笔尖行走的声音，明媚的阳光从窗户透过来，洒在我身上，十分慵懒安逸。可是我却无心品鉴这样的舒适，因为无数的案例在吸引着我，等待着我去分析，从中抽丝剥茧找出规律，完成我的论文。
                <br><br>当初决定出国留学的最大原因，也是希望能有一个更多元化的学习方式。虽然已经毕业了有一段时间，但是留学的诱惑一直萦绕在我的脑海，久久不肯消失。为了不让自己留下遗憾，我在权衡了不同国家留学的吸引力之后，果断选择了美国。
                <br><br>转眼间，已经来美国半年了。在美国学习的这段时间内，我的感慨很多，感悟也很多。美国与众不同的教育方式，让我在这里如鱼得水。这里的课堂，总是充满了激情和互动，与大家的交流增多，我也更加明白了自己的优点劣势分别是什么。不仅我的实力得到了提升，我也变得更加自信。
            </p>
            <img style="width:100%;height:auto;margin:55px 0" src="__PUBLIC__/images/text/dec4-2.jpg" alt="">
            <p style="font-size:16px;line-height:26px;color:#525151">与国内教育不同，商科专业在这边非常强调实际操作能力，特别是我选的MBA。除去最基本的基础课程采用授课形式外，其它大量的课程都采用案例分析方式授课，教授用大量的实际案例来引导我们的思路，最终的目的并不是让我们明白其中的理论，而是强调在遇到类似问题的时候有能够合理的解决办法。
                <br><br>这样的学习方式，也能为我之后的工作打下坚实的基础。文化知识固然重要，但是实践运用却是最终的目的。我的留学便给了我最好的“实习”机会，让我可以一边“工作”，一边改进。
                <br><br>我想说，我喜欢这样的环境。毕业之后，我也想要在这里留下，找到适合自己的工作，去真正“享受”学习所带来的美好成果。
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>