<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">费城假日，邂逅一段尘封往事</h1>
            <h1 class="subtitle">美式教育零距离12日冬令营</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study1-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.纯正美式教育初体验，寻访美国校园文化。</li>
                <li>2.来自于美国本土家庭的友好邀约，零距离体验最地道的美式家居生活。</li>
                <li>3.常春藤名校精英倾情传授留学经验，清晰读懂名校申请流程。</li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 中国--费城</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">从国内乘飞机抵达费城，专车接往学校与寄宿家庭</p>
                    <br><p class="consub">Day 2 初见高校</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">到美国学校报到，并根据自身英语水平，插入相应的班级,和美国孩子一起上课。</p>
                    <br><p class="consub">Day 3-6 费城</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">在美国学校和美国学生一起上课，体验轻松自由又思维活跃的美式课堂，感受东西方文化的碰撞。</p>
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:75%;height:auto;margin-top: 15px;" src="__PUBLIC__/images/project/study1-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:75%;height:auto; margin-top: 15px" src="__PUBLIC__/images/project/study1-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 7 费城--哈里斯堡--华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">早上：乘车参观阿米什人农场和村庄。随后前往Amish- 阿米什人自己的农贸市场参观购物。午餐享受正宗的Amish原生态美食。
                        <br>下午：乘车大约1小时车程前往美国最大的巧克力生产地—Hershey参观。并亲自学习制作巧克力。并参观全美最美的州政府大楼-宾州州政府。然后乘车前往美国首都--华盛顿。
                    </p>

                    <p class="consub">Day 8 魅力华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：乘车前往美国首都—华盛顿参观：林肯纪念堂和韩战、越战纪念碑； 杰弗逊总统纪念堂，
                        <br>下午：参观美国总统府所在地--白宫，国会大厦，自然历史博物馆和航空博物馆。
                    </p>

                    <p class="consub">Day 9 名校风云</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：从华盛顿乘车出发，抵达美国著名的历史文化名城-费城。
                        <br>下午：参观宾西法尼亚大学，由优秀留学生亲自带领参观，并与他们交流留学心得，了解常春藤名校的申请条件，流程和申请技巧。
                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 10 爱上纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：早餐后乘车前往世界上最繁华的大都市—纽约,参观911遗址后前往帝国大厦欣赏整个纽约全景，然后乘坐观光环岛游轮游览哈德逊河,经自由女神像和布鲁克林桥摄影留念。
                        <br>中午：午餐后参观第五大道、洛克菲勒中心、时代广场、联合国总部外观以及世界金融、証券交易中心华尔街。
                    </p>
                    <p class="consub">Day 11 纽约--家</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        酒店早餐后，专车送往机场，返回温馨的家。
                    </p>

                    <br><p class="consub">Day 12 到家</p>
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:75%;height:auto;margin-top:15px;" src="__PUBLIC__/images/project/study1-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">特色行程</p>
               <p style="margin:10px 0;font-size:16px;line-height:26px;color:#525151" >
                   学员们除了参观美国著名景点如自由女神像，帝国大厦，时代广场等，还将坐马车参观在美国这个高科技发达的国家里，至今还保留是不用电、不用汽车的一支原生态Amish民族，感受独有的淳朴民风。同时，学员们还会参观世界著名美国最大的巧克力生产基地，坐小火车参观巧克力的整个生产过程，并可以自己动手做巧克力，送给家人。
               </p>
                <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study1-5.jpg" alt="">

               <br><br><br>
               <br><br><br>
            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>