<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">哈佛全真课堂，孕育名校精英</h1>
            <h1 class="subtitle">美国东西海岸名校之旅</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study2-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.哈佛名师课堂，体验名校精英课程，全面提高领导力，成就未来领袖人物。</li>
                <li>2.顶级名校文化熏陶，与常春藤名校精英共成长共进步。</li>
                <li>3.无限南北纬度跨越，领略风情万种的美国魅力城市，体会多元文化。</li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1  中国--波士顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">乘机抵达波士顿，专车从机场接往酒店休息。</p>
                    <br><p class="consub">Day 2 波士顿初印象</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">早上：酒店店早餐后前往世界顶级名校哈佛和麻省理工大学参观。
                        <br>下午：参观美国十大建筑之一的波士顿三一教堂以及融汇世界各地美食和当地特色的购物中心–昆西市场。晚餐享受美味的波士顿龙虾大餐。</p>
                    <br><p class="consub">Day 3 哈佛全真课堂</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">9:30-11：30 : 开营仪式：哈佛大学历史简述。
                        <br>11:30-1:30: 在哈佛校园午餐，体味哈佛文化。
                        <br>1:30-3：30：领导力培训，团队合作项目。</p>
                    <br><p class="consub">Day 4 哈佛全真课堂</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        9：30-11：30：美国教育与中国教育区别简述，亲身体验不同文化氛围
                        <br>11:30-1:30: 在哈佛校园午餐
                        <br>1：30：3：30：美国高考体系介绍，介绍SAT、ACT 报名考试流程，应试技巧以及注意事项。同时为每位同学制定个性人生规划和学业规划，精彩人生等着你去实现。
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study2-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study2-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 哈佛全真课堂</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        9：30-11:30: 优秀哈佛留学生演讲，倾听心路历程，感受哈佛情怀。了解哈佛申请条件，流程和申请技巧，铸就哈佛之梦。
                        <br>11:30-1:30: 在哈佛校园午餐
                        <br>1：30-3：30：英语演讲技巧：每个学生进行英语演讲，总结3天学习收获，老师点评，颁发结业证书，合影留言。
                    </p>
                    <p class="consub">Day 6 波士顿--纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：酒店早餐后乘车前往纽约。
                        <br>中午：参观世界著名的军事院校-西点军校。西点军校的校训是“责任、荣誉、国家”，该校是美国历史最悠久的军事学院之一，被誉为国家将军摇篮之地。
                        <br>晚上：抵达纽约。
                    </p>
                    <p class="consub">Day 7 印象纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：早餐后乘车前往世界上最繁华的大都市—纽约,参观911遗址，并登上西半球最高建筑-新世贸，欣赏整个纽约全景。然后乘坐观光环岛游轮游览哈德逊河,经自由女神像和布鲁克林桥摄影留念。
                        <br>下午：参观第五大道、洛克菲勒中心、时代广场、联合国总部外观以及世界金融、証券交易中心华尔街。
                    </p>

                    <p class="consub">Day 8 纽约--费城</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        从纽约出发，乘车前往美国的旧都-费城，参观独立宫和自由钟。</p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9  华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：前往美国政治中心---华盛顿，参观林肯纪念堂；越战争纪碑，朝鲜战争纪念堂；杰弗逊总统纪念堂；美国总统府所在地--白宫；
                        <br>中午：参观华盛顿最美丽、最壮观的建筑-国会大厦以及自然历史博物馆和航空博物馆
                    </p>
                    <p class="consub">Day 10 华盛顿--洛杉矶</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        酒店早餐后，专车送往机场，乘飞机前往天使之城--洛杉矶。洛杉矶是美国第二大城市，也是西海岸最大的城市。好莱坞、加州迪士尼乐园、环球影城等等都位于洛杉矶，南加州的奢华之城比佛利山庄也坐落在洛杉矶的中心地带。
                    </p>
                    <p class="consub">Day 11 星光好莱坞</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        前往世界著名的好莱坞星光大道，感受国际巨星风采。这带您游历城裡的恐怖片的拍摄场景，如: 鬼屋, 山洪爆发，大白鲨, 金刚咆哮等等。最新推出的金刚3D电影和变形金刚4D是世界上最大最令人紧张的体验，可以让您领略到电影裡的真实场景。未来水世界，木乃伊归来，侏罗纪公园和怪物史瑞克里又会有令人畏惧和神经紧张的感受。
                    </p>

                    <br><p class="consub">Day 12 洛杉矶--旧金山</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：从酒店出发，沿太平洋黄金海岸綫前往圣塔芭芭拉，参观最具西班牙建筑风格的市法院大楼，并登上法院塔楼鸟瞰城市全貌。
                        <br>中午：继续沿着名的加州1号公路北行前往17里湾景区，欣赏趴满海豹与海鸟的“天堂鸟岩”,顶级高尔夫球赛事举办地“卵石滩”以及当地最富盛名地标-屹立于礁石上的 “孤柏”。
                    </p>
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study2-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:85%;height:auto;margin-top: 20px;" src="__PUBLIC__/images/project/study2-5.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 13 浪漫旧金山</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：登双子峰欣赏整个旧金山市区全貌，之后前往美轮美奂的艺术宫和旧金山地标-金门大桥。
                        <br>中午：停靠旧金山最热闹的渔人码头，乘坐游轮游览湾区以。下午的城市深度文化游（叮噹车，九曲花街，圣玛丽大教堂，市政厅，途经中国城）

                    </p>
                    <p class="consub">Day 14 爱上旧金山</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：参观世界著名大学-斯坦福大学，世界最杰出大学之一，坐拥美国第二大的校园，其黄砖红瓦建筑极具十七世纪西班牙传道堂式风格，让人沉醉不已。穿过学校主街-棕榈树大道到达学校的心脏地带-纪念广场，参访被誉为“皇冠上的明珠“的纪念教堂，梦想长廊和斯坦福地标-胡佛纪念塔，瞭解建校历史。
                        <br>下午：前往outlet购物，为家人和朋友精心挑选礼物。
                    </p>
                    <p class="consub">Day 15 旧金山--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        酒店早餐后，专车送往机场，返回温馨的家园。
                    </p>

                </div>
            </section>
            <img style="margin-top:100px;width:100%;height:auto;" src="__PUBLIC__/images/project/study2-6.jpg" alt="">
            <br><br><br>
            <br><br><br>

            <!--<img style="width:100%;height:auto;" src="images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">四、特色行程：</p>
               <p style="margin:10px 0;font-size:16px;line-height:26px;color:#525151" >
                   学员们除了参观美国著名景点如自由女神像，帝国大厦，时代广场等，还将坐马车参观在美国这个高科技发达的国家里，至今还保留是不用电、不用汽车的一支原生态Amish民族，感受独有的淳朴民风。同时，学员们还会参观世界著名美国最大的巧克力生产基地，坐小火车参观巧克力的整个生产过程，并可以自己动手做巧克力，送给家人。
               </p>
                <img style="width:100%;height:auto;margin:60px 0px" src="images/project/study1-5.jpg" alt="">

               <br><br><br>
               <br><br><br>
            </section>-->

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>