<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">探秘南半球之筑梦澳洲</h1>
            <h1 class="subtitle">澳大利亚修学两周经典行程</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study9-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li><p class="constrong">1.“异域课程尽情体验”</p>
                    多元化的主题课程无限畅享，更有精彩的户外活动带给你全新研学收获；

                </li>
                <li>
                    <p class="constrong">2.“原址本土文化感受”</p>
                    寄宿与当地的友好家庭，零距离亲密体验澳洲原味生活风情；
                </li>
                <li>
                    <p class="constrong">3.“创新景点无限畅享”</p>
                    海量景点疯狂畅游，全方位体验澳洲风情。更有“阳光海岸，沙滩海浪”，来一场别开生面的感官盛宴。
                </li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 中国--澳大利亚</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        在国内机场集合，乘飞机赴澳大利亚，新加坡或香港转机。

                    </p>
                    <br><p class="consub">Day 2 澳洲初映象</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">

                    </p>
                    <br><p class="consub">Day 3 爱在热带雨林</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：欢迎仪式，英语测验，分班英语课(澳洲动物与植物主题）
                        下午：参观库伦宾野生动物天堂，参加动物教育课堂讲座。亲手触摸各种动物。观赏土著音乐和舞蹈表演。体验海岸热带雨林的自然风景，观赏百余种澳洲独特的动物，与考拉和袋鼠面对面接触。喂野生彩鸟，独特的体验。
                    </p>
                    <br><p class="consub">Day 4 黄金海岸</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：英语课程（生态环境主题）
                        下午：Pelican塘鹅海滩观察喂养野生塘鹅的壮观景象。参观黄金海岸出海口，栈桥，灯塔，豪华游艇码头。
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study9-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study9-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 海洋世界</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        全天游览著名景点---黄金海岸海洋世界主题乐园，欣赏海狮、海豚及水上快艇划特级表演，观赏可爱的企鹅、北极熊。体验4D电影，参加探险者高空索道和海盗船水战运动。
                    </p>
                    <p class="consub">Day 6 野外生存训练</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：英语课程（澳洲教育制度主题）
                        下午：参观邦德大学。Burleigh hill探险。欣赏海岸线的美丽风光。训练野外生存能力和方向识别能力，分组竞赛到达目的地。 Tallebudgera 海滩行走。
                    </p>
                    <p class="consub">Day 7 极致体验</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：英语课程（澳洲文化与体育运动主题）
                        下午：参观Q1，世界最高的住宅公寓，360度全景黄金海岸，鸟瞰南布里斯本和新南威尔士州海岸线，漫步全球闻名的冲浪者天堂海滩，沙滩赛跑，沙滩寻宝游戏，听海上救生人员讲解神秘的大海和救生故事。
                    </p>

                    <p class="consub">Day 8 筑梦好莱坞</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        全天参观著名景点--耗资数百万美元建造的好莱坞华纳电影世界。 园内的游乐设施免费供你尽情享用，4D电影，好莱坞飞车表演。
                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9 阳光之城--布里斯本</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        布里斯本市区游，了解澳洲历史，实践教育体制。 参观世博会旧址南岸公园，博物馆，艺术廊，昆士兰大学主校区、故事桥和袋鼠角。
                    </p>
                    <p class="consub">Day 10 午餐会</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：英语课程（澳洲文化与澳洲人主题）
                        下午：毕业典礼，颁发证书。在广阔海湾公园与寄宿家庭的告别午餐会，与寄宿家庭活动。
                    </p>
                    <p class="consub">Day 11 你好悉尼</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        飞往悉尼，悉尼城一日游，体验澳洲的历史和风景名胜。 游览皇家植物园、麦觉里夫人的石椅、岩石区，世界闻名的悉尼歌剧院；船游美丽的悉尼港，远眺海港大桥；游玩邦地海滩，老南头出海口，中国城。

                    </p>

                    <br><p class="consub">Day 12 悉尼--堪培拉约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        畅游首都堪培拉，包括：堪培拉国立战争纪念馆、格里芬人工湖、议会大厦, 使馆区，造币厂等景点，返回悉尼。
                    </p>
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study9-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:85%;height:auto;margin-top: 20px;" src="__PUBLIC__/images/project/study9-5.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 13 学术悉尼</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        参观悉尼大学主校区、海德公园、圣玛丽大教堂等。有机会购买纪念品，下午飞机返回中国。
                    </p>
                    <p class="consub">Day 14 悉尼--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        返回中国，回到温馨舒适的家。
                    </p>

                </div>
            </section>


            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">特色行程</p>
                <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                    <li>1.机场接送</li>
                    <li>2.ID卡上面有寄宿家庭和学校紧急联络电话。</li>
                    <li>3.学生入住经精心挑选的，经警察局查证的的澳洲友好家庭，由友好家庭负责每天接送学生（一般为2个学生居住一户人家）。</li>
                    <li>4.学校英语培训课程及教材费 </li>
                    <li>5.日程内所到景点门票和交通费</li>
                    <li>6.结业证书、结业典礼</li>
                    <li>7.24小时中文热线电话，由精通中文，经验丰富的学生顾问接听，为学生解决在澳期间的一切难题。</li>
                    <li>8.课余时间设有生动有趣的旅游活动，寓教于乐。</li>
                    <li>9.学校专门老师教授英语培训课程，帮助学生提高英语水平。</li>
                    <li>10. 安排一日三餐和洗衣服务。</li>
                    <br><li>旅游期间：</li>
                    <li>1、澳州三星级酒店或Motel三人间或非意愿双人间；1单人床睡1人，双人床睡2人。</li>
                    <li>2、酒店西式早餐， 行程所列当地中餐馆中式午晚餐</li>
                    <li>3、全程游览用车(10小时每天),司机兼导游服务</li>
                    <li>4、行程中所列入内景点遊船</li>
                    <li>5、悉尼汽车（coach）费，酒店和用餐。</li>
                    <li>6、导游和司机每人每天小费。</li>

                </ul>
                <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study9-6.jpg" alt="">

               <br><br><br>
               <br><br><br>
            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>