<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title" >选择迈尔斯，让美好发生</h1>

            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->

            <br><p style="font-size:16px;line-height:26px;color:#b4b4b4">
            迈尔斯国际希望提供给用户的是一次重新认识自己的机会，我们鼓励学生零距离全身心投入于对自己兴趣点的开发，同时也能够对职业观与生涯做出更早的规划与塑造，使自己能够在学校常规教育的基础上开发出独特的素质能力，明确职业规划前景，形成属于自己更加成熟的思考方式。
        </p>
            <section style="font-size:16px;line-height:26px;">
                <p style="width: 100%;height: auto;text-align: center;">
                    <img style="width:100%;height:auto;text-align: center" src="__PUBLIC__/images/project/e2-1.jpg" alt="">
                </p>
            <p>
                人生的道路虽然漫长，但紧要处却往往只有几步，特别是当我们年轻的时候。
                亲爱的你真正了解自己吗？你知道自己想成为什么样的人，你能准确描绘出未来职业发展的愿景吗？你能知道在每一个不同的人生节点，想收获什么吗？你想从迷茫青春中突围而出，找到最合适的路吗？
                <p style="width: 100%;height: auto;text-align: center;">
                    <img style="width:100%;height:auto;text-align: center" src="__PUBLIC__/images/project/e2-2.jpg" alt="">
                </p>
                <br><br>所以，“认识自己”是我们终其一生不断学习的功课，区别是成功者比较快，而落后者比较慢，选择迈尔斯国际教育，就是在这样重要的节点上，让你快人一步。
                迈尔斯国际，提供给你的是这样一个契机，认识自己，相信自己，重塑自己。是不同于传统教育的崭新思维模式的养成，传统教育教给你现在的世界是什么样，而我们将告诉你，未来的世界是什么样？我们身在其中，又怎么样用自己的能力去改变世界？
                <br><br>世界顶级名校课堂，领袖精英养成计划，精品课程计划体系，含金量十足的结业证书，短短半月，你将收获金光璀璨的名校背书，名校结业的背景提升，固有思维的破碎重建，遍布世界的朋友圈，多维视角的充分扩展，职业前景的明确规划，这样的收获，足够吸引你了吗？
                <p style="width: 100%;height: auto;text-align: center;">
                    <img style="width:100%;height:auto;text-align: center" src="__PUBLIC__/images/project/e2-3.jpg" alt="">
                </p>
                <br><br>世界顶级名校，触手可及，高端精品课程，尽在囊中。
                <br><br>选择迈尔斯，让美好发生。


            </p>

            <br><br><br>
            <br><br><br>
            </section>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>