<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">学术剑桥，碰撞英伦文化</h1>
            <h1 class="subtitle">游学剑桥之学霸养成记</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study6-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.体验名校课堂，剑桥大学浸泡式体验学习，剑桥大学博士全程指导学习。</li>
                <li>2.感受国外教育模式与课程设置，未来学习生涯早规划。多方位能力提升，国际性批判思维培养，留学背景提升。</li>
                <li>3.体验英国美食，玩转英伦著名地标性景点，丰富的课余生活，多姿多彩的交流活动。</li>
               <!-- <br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：9&#45;&#45;17岁在校生</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 中国--英国伦敦</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        飞机前往英国伦敦，抵达希思罗机场乘坐大巴直达剑桥，入住宿舍。剑桥大学因其卓越的学术成就而闻名于世，好好感受剑桥传统英式大学生活吧。
                    </p>
                    <p class="consub">Day 2 你好，剑桥</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早：简介英国概况以及分班测试，了解英国的学习模式以及剑桥交通信息等注意事项。
                        <br>中：游览剑桥，了解剑桥。
                    </p>
                    <p class="consub">Day 3 学霸养成记</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        剑桥大学博士导师带你学习特色英语课程，快速提高英语学习能力，使学生完全融入英语学习环境，提高听说读写四大板块。
                    </p>
                    <p class="consub">Day 4 学术剑桥</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：互动式英文课程：英语语法学习以及常见的用语语法学习
                        <br>下午：项目作业：剑桥大学博士导师的引领下进行课题研究以及课外活动
                        <br>晚上：国际学生才艺大比拼
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study6-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 15px;" src="__PUBLIC__/images/project/study6-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">

                    <p class="consub">Day 5 英伦文化</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：互动式英语课程：学习英国传统的习俗和主要节假日的历史和文化
                        <br>下午：主题座谈：我的剑桥学习与生活（邀请在读剑桥学子参与）
                        <br>晚上：夜游剑桥大学，感受优雅高贵英伦文化。
                    </p>
                    <p class="consub">Day 6  味蕾爱上英国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：英语课程，了解英国学习的体制以及申请方法。
                        <br>下午：参观菲茨威廉博物馆以及国王学院，全程剑桥大学博士带领
                        <br>晚上：咱们的腐国不只是有暗黑料理哦，还有着风靡英国的美味Nando’s餐厅，尽情的享受美食饕餮吧。
                    </p>
                    <p class="consub">Day 7 剑桥--伦敦</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：早上8：30集合前往剑桥火车站，乘坐火车10:00到达伦敦kings cross车站.可在kings cross车站哈利波特站台合影留念。
                        <br>下午：浏览伦敦景点。景点包含白金汉宫，大英博物馆，伦敦眼，大本钟，议会，塔桥，唐人街，海德公园。
                    </p>
                    <p class="consub">Day 8 伦敦午后</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：互动式英语课程
                        <br>下午：感受剑桥的传统活动，享受夏日惬意的舒适。参观剑桥科技园,世界上公认的最重要的技术中心之一，有着不可比拟的研发和创新记录。
                        <br>晚上：享用腐国国菜：fish and chips,大快朵颐之后开启正宗伦敦腔的电影之夜。
                    </p>

                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">

                    <p class="consub">Day 9  戏剧魅影</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：校园集体活动（足球或者网球等室外运动等）。
                        <br>下午：英语课程。
                        <br>晚间：英伦戏剧学习。
                    </p>
                    <p class="consub">Day 10 音乐会</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：校园集体活动（剑桥大学名师演讲课堂）。
                        <br>下午：英语课程。
                        <br>晚间：著名音乐会（包含门票）。

                    </p>
                    <p class="consub">Day 11  牛津一日</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上8：00从剑桥大学乘坐巴士到达牛津
                        <br>游玩路线：牛津大学赛德商学院－克里斯汀学院－牛津城堡－牛津博物馆－基督教会学院－牛津大学植物园－圣玛丽圣母教堂－玉米市场街走进魔法学院 参观克林顿、撒切尔夫人等世界名人的母校-牛津大学，探访《哈利波特》取景地，著名的克丽斯汀学院（入内）。
                    </p>
                    <p class="consub">Day 12  新月楼与巨石阵</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        观巴斯古罗马浴场，皇家新月楼，皇后广场，普特尼桥后离开巴斯到达世界闻名的巨石阵，游览巨石阵离开巨石阵返程回到剑桥。
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study6-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:85%;height:auto;margin-top: 20px;" src="__PUBLIC__/images/project/study6-5.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">

                    <p class="consub">Day 13 伊利小镇</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早8:30－12:30课程学习，下午1点前往离剑桥不远的伊利小镇参观。景点有小镇以及著名的伊利大教堂，参观彩色玻璃博物馆以及登顶观看宏伟壮观的教堂全貌并且品尝闻名世界的英式下午茶点。
                    </p>
                    <p class="consub">Day 14 再别剑桥</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        进行结业语言测试考核，并且颁发证书以及纪念品。
                    </p>
                    <p class="consub">Day 15 英国--剑桥</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">

                    </p>

                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
                <br><br><br>
                <br><br><br>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>