<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--<link rel="stylesheet" href="css/column.css">-->
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">美国哈佛领导精英养成计划</h1>
            <h1 class="subtitle">哈佛经典领导课程，塑造明日商界奇迹</h1>
            <img style="width:100%;height:auto;margin:80px 0px 5px 0px" src="__PUBLIC__/images/project/back2-1.jpg" alt="">
            <!--内容主体-->

            <section class="mainContext" style=" width:1200px;height:auto; margin-top:80px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">

                <div class="leftContext" style="float: left;width:570px;height: auto;padding-right:20px; overflow:hidden;">

                    <p class="contitle">项目简介</p>
                    <p class="constrong">哈佛领导力训练营</p>
                    <p style="font-size:16px;color:#525151">
                        (培训结束后颁发常哈佛培训证书，学员可以获得后续的学习机会和免费的留学申请支持服务。) </p>
                    <p style="font-size:16px;line-height:26px;font-weight:bold;color:#636363">主办方：</p>
                    <p style="font-size:16px;color:#525151">迈尔斯国际教育（成都鑫熠环球教育咨询有限公司）</p>
                    <p style="font-size:16px;line-height:26px;font-weight:bold;color:#636363">合作方：</p>
                    <p style="font-size:16px;color:#525151">
                        <br> 美国哈佛大学商学院
                    </p>
                    <br>
                    <p class="contitle">全真体验</p>
                    <ul style="padding-left:5px;font-size:16px;line-height:26px;color:#525151;list-style:none">
                        <li>

                            领导力里包含自我管理能力、组织管理能力、沟通能力、团队建设能力、谈判能力等。一个人一生要成功，离不开领导力的不断修炼。哈佛大学几百年来培养了众多各领域领导人，这与其先进的教育理念是分不开的。哈佛领导力课程更堪称世界经典。我们的行程将领导力培训贯穿始终，进一步吸收和实践所学领导力理念。
                            <br>培训将弥补中国中学生现有教育缺失，通过中美文化碰撞，激发学生深入思考，培育独立性和创造力。培训结束后颁发常哈佛培训证书，学员可以获得后续的学习机会和免费的留学申请支持服务。
                        </li>

                        </ul>
                    <br>
                    <p class="contitle" >课程预览</p>
                    <img style="width:100%;height:auto;margin:20px 0px 5px 0px" src="__PUBLIC__/images/project/back2-2.jpg" alt="">
                    <img style="width:100%;height:auto;margin:20px 0px 5px 0px" src="__PUBLIC__/images/project/back2-3.jpg" alt="">
                    <br>
                    <p class="contitle">项目亮点</p>
                    <ul style="padding-left:5px;font-size:16px;line-height:26px;color:#525151;list-style:none">
                        <li>
                            领教哈佛名师的风采，哈佛经典精英养成课--培养你独一无二的领导力。
                        </li>
                        <br><li>
                        深度感受美式教育，Lecture，Seminar，Workshop三大教育主体形态深度体验，互动式的课堂活动充分调动学生的参与热情，寓教于乐。
                    </li>
                        <br><li>
                        资质获得哈佛培训证书，名校认证，更添荣誉。

                    </li>
                        <br><li>
                        畅游美国东海岸，感受国际化都市风情，游览美国的文化中心、教育中心、政治中心，体会美国文化的精髓;
                    </li>
                        <br><li>
                        感受美国休闲时光，游玩美国最大的迪斯尼乐园，感受好莱坞影城的星光熠熠。
                    </li>
                    </ul>
                    <br>
                    <p class="conborder" style="width: 110px;">行程安排</p>
                    <p class="consub">Day 1 中国--波斯顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        抵达美国波斯顿, 乘机飞往波斯顿，欢迎晚宴结束后，入住酒店休息

                    </p>
                    <br><p class="consub">Day 2 美国初印象</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        酒店早餐后前往世界顶级名校哈佛和麻省理工大学参观。下午参观美国十大建筑之一的波士顿三一教堂以及融汇世界各地美食和当地特色的购物中心–昆西市场。晚餐享受美味的波士顿龙虾大餐。
                    </p>
                    <img style="width:100%;height:auto;margin:20px 0px 5px 0px" src="__PUBLIC__/images/project/back2-5.jpg" alt="">
                    <br><p class="consub">Day 3 哈佛领袖课</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：09：00 ：哈佛领导力培训
                        <br>下午：14：00 : 美国文化讲座
                        <br>16：00 : 美国教育讲座
                        <br>19：00 : 晚餐
                    </p>
                    <br><p class="consub">Day 4 名校进阶班</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：09：00 :哈佛领导力培训
                        <br>下午：14：00 :美国名校申请工作坊，由招生官员讲解
                        <br>16：00 :参观世界第一商学院哈佛商学院、国总统奥巴马母校---哈佛法 学院，政治家摇篮---哈佛肯尼迪学院，哈佛学者陪同讲解
                        <br>19：00 :晚餐
                    </p>

                </div>

                <div class="rightContext" style="float: right;width:550px;height: auto;">

                    <p class="consub">Day 5 我的哈佛梦</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        09：00 哈佛领导力培训
                        <br>下午：14：00 励志教育，优秀哈佛留学生演讲，倾听他们的心路历程，感受哈佛情怀。 团员3分钟英语演讲: I have a dream。 颁发培训证书。

                    </p>
                    <img style="width:100%;height:auto;margin:20px 0px" src="__PUBLIC__/images/project/back2-4.jpg" alt="">
                    <p class="consub">Day 6 波斯顿--纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        乘车前往纽约，途经耶鲁大学参观。耶鲁大学是美国历史上建立的 第三所大学，为长青藤联盟的成员校之一，以人文、艺术、历史、及法律最为有名。

                    </p>

                    <br><p class="consub">Day 7  纽约，纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        前往世贸中心遗址、世界金融中心华尔街、美国最早期议事联邦厅、三位一体大教堂。参观联合国总部大厦（一层）之后搭乘曼哈顿游轮，沿着哈德逊河经自由女神岛。继续游览圣帕特里克大教堂、洛克菲勒广场以及霓光闪烁的时代广场和百老汇大街。
                    </p>
                    <br><p class="consub">Day 8 纽约--费城--华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早餐后，乘车前往美国首都华盛顿。华盛顿为美国首都，是美国政治中心，更是世界政治风云之推波助澜地。途经美国旧国都费城参观。1776年美国发表《独立宣言》，脱离英国统治即建都于费城。在费城参观独立宫、自由钟及旧国会大厦等。途径普林斯顿大学参访，抵达华盛顿后入住酒店休息。
                    </p>
                    <img style="width:100%;height:auto;margin:20px 0px" src="__PUBLIC__/images/project/back2-6.jpg" alt="">

                    <br><p class="consub">Day 9 爱上华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早餐后乘车前往美国政治中心---华盛顿，参观林肯纪念堂；越战争纪碑，朝鲜战争纪念堂；杰弗逊总统纪念堂；美国总统府所在地--白宫；华盛顿最美丽、最壮观的建筑-国会大厦以及自然历史博物馆和航空博物馆。
                    </p>
                    <br><p class="consub">Day 10 星光璀璨好莱坞</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早餐后，乘机飞往洛杉矶，抵达后参观好莱坞明星大道、比华利山庄、市政中心、奥斯卡领奖台等，游览结束后晚餐，之后回酒店休息。
                    </p>
                    <br><p class="consub">Day 11 电影梦工厂</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        游览好莱坞环球影城,感受好莱坞电影梦工厂带给您强烈、新奇的感官刺激。您将乘电动拖车赴各电影布景区，真实感受旧金山大地震、洪水暴发、大白鲨食人等场景的惊心动魄，并乘船回到恐龙时代的侏罗纪公园，同时体验芝加哥大火的热浪冲击等。
                         </p>
                    <img style="width:100%;height:auto;margin:20px 0px" src="__PUBLIC__/images/project/back2-7.jpg" alt="">
                    <br><p class="consub">Day 12 迪斯尼童话</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        全天游览名副其实的梦幻乐园——迪斯尼乐园，领略童话世界的惊险与绮丽，感受惊险刺激的激流勇进，进入未来时空探索那未知的世界，与各种令人迷恋的迪斯尼角色共同感受这场盛大的欢乐盛会。
                    </p>
                    <br><p class="consub">Day 13 洛杉矶--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        准备回国，结束美国名校之旅。
                    </p>
                    <br><p class="consub">Day 14 返家</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        旅程结束，回到熟悉的城市和温馨的家。
                    </p>
                    <p class="conborder" style="width: 150px;">项目保障事项</p>

                    <ul style="padding-left:5px;font-size:16px;line-height:26px;color:#525151;list-style:none">
                        <li>
                            1、包含报名费、项目费、住宿费、往返机票、在美期间交通费、保险费、景点及指定活动项目门票等，学生赴当地后，除部分餐饮费用、自主购买商品及服务外，不再需要额外花费。

                        </li>
                        <br><li>
                        2、项目过程中将会有多名导师带领小组团队，每个小组平均6-8人。
                         </li>
                        <br><li>
                        3、为学员购买高额旅行保险。
                        </li>
                        <br><li>
                        4、项目全程提供8×24小时联系保障，多层次协助学员实时与家长进行沟通联络。
                    </li>
                    </ul>
                </div>

            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer" style="margin-top: 80px">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>