<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/project.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main clearfix">
        <article class="m-studProj">
            <hgroup class="m-title m-title2">
                <h1 class="m-t-zh">游学项目</h1>
                <h2 class="m-t-en">Study Tour Project</h2>
            </hgroup>
            <ul class="m-cont clearfix">
                <li class="m-c-row">
                    <a class="m-c-r-img" href="project-tdetailed4-1.html"><img class="m-c-r-img" src="__PUBLIC__/images/project/study8.jpg" alt=""></a>
                    <div class="m-c-r-wrap">
                        <h5 class="m-c-r-tit">精彩纷呈的澳洲研学之旅
                        </h5>
                        <p class="m-c-r-info">在悉尼大学，与同学们一起体验古典名校的文化风采。</p>
                    </div>
                </li>
                <li class="m-c-row">
                    <a class="m-c-r-img" href="project-tdetailed4-2.html"><img class="m-c-r-img" src="__PUBLIC__/images/project/study9.jpg" alt=""></a>
                    <div class="m-c-r-wrap">
                        <h5 class="m-c-r-tit">探秘南半球之筑梦澳洲</h5>
                        <p class="m-c-r-info">澳大利亚修学两周经典行程</p>
                    </div>
                </li>
            </ul>

            <!--翻页逻辑-->
            <div class="m-page">
                <!-- class[m-p-disable:禁用] [m-p-select:当前页面] 每一页4*3 12项-->
                <a class="m-p-prev m-p-disable" href="">上一页</a>
                <a class="m-p-num m-p-select" href="">1</a>
                <!--<a class="m-p-num" href="">2</a>-->
                <!--<a class="m-p-num" href="">3</a>-->
                <a class="m-p-next m-p-disable" href="">下一页</a>
            </div>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>
    </footer>
</div>
</body>
</html>