<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title" >新西兰青年人才计划</h1>
                <h1 class="subtitle">——留学就业一体化，创造留学新篇章
            </h1>
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/special2-1.jpg" alt="">
            <img style="width:400px;height:79px;margin:0px 0px 5px 0px" src="__PUBLIC__/images/project/sslogan-2.jpg" alt="">
            <br><p style="font-size:16px;line-height:26px;color:#525151">
               当然，后来，我也根据不同国家，不同学校，不同专业进行了对比，从而也得出了最终的结论。
               那就是新西兰。
                <br><br>选择新西兰最大的一个原因，就是和平。虽然说起来话题有些大，但不得不承认，新西兰作为世界上唯一没有历史战争的国家，在这方面来说，是很有发言权的。
                其次，相较于其他的英语发达国家的留学费用，新西兰可以说是最低的。而这个也消除了我关于金钱方面的顾虑。
                而对于留学之后是否可以在当地找工作，又能找到到什么样的工作，以及工作的环境、福利待遇等等，我也做了相关的功课。大体上来说，你只要合格优秀，基本上也就没有什么问题了。
                <br><br>过程虽然有些复杂，但达到了最终目标，我觉得之前一切的辛苦都是值得的。
                做出选择肯定是非常艰难的事情，毕竟可能也会因此而失去以前所拥有的。但是一旦成功了，那看到的风景自然也会大不相同。我做了这场改变我人生的赌博，拼尽全力，得到了结果也像风雨后的彩虹般美丽。


            </p>

            <p class="contitle">
                <br>项目简介</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                新西兰 New Study ( NS ) 青年人才引进计划是由新西兰慈善总会和新西兰华威国际教育集团 ( HICE Group Limited ) 共同发起的一项全球以就业发展及人生规划为目标的留学项目。该计划与国内传统学历相结合，任何阶段均可无缝对接新西兰升学计划。项目学生就读期间，均可享受带薪兼职推荐 、实习安排及就业安置服务。
            </p>

            <p class="contitle" >项目亮点</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>
                   <p class="constrong">1.“官方权威认证，全新教育模式”</p>
                    <br>集“留学+就业安置”为一体的教育项目，所获文凭中新两国教育部均认证。学生就读新西兰期间，可获每周最多20个小时的兼职工作推荐；就读至1年Open工作签期间，提供就业安置咨询及服务；专业学习期间兼职可满足房租等生活开销，工作2年内即可收回学习成本。
                </li>
                <br><li>
                <p class="constrong">2.“就业安排前置，性价比超高体验”</p>
                <br>参加项目者出国留学前通过面试后即可签订就业安置协议，项目充分具备“费用低、学制短、高性价比”的特点，可比同龄人提前完 成学业,快速进入职场。
            </li>

            </ul>



            <br><p class="contitle">院校资源</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li class="constrong">
                    1.维特利亚理工学院
                </li>
                <br><li>
                <p class="constrong">2.尼尔森马尔伯勒理工学院</p>
                <br>与新西兰8大综合大学齐名，18大理工学院之一，同属新西兰教育局学历评估委员会 。“ NZQA”资格认定第一类优质国立院校，所获文凭均被新西兰教育局和中国教育部认可
            </li>
            </ul>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/special2-2.jpg" alt="">


            <br><br>

            <p class="contitle">项目申请详情</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>
                    <p class="constrong"> 1.硕士留学方案（一年）</p>
                    您只需满足下列条件
                    <br>(1) 应往届中国本科/研究生毕业
                    <br>(2) 语言学习，英文需5分或以上（通过校内测试或雅思5分）
                    <br>(3) 直入专业，英文需6.5分或以上（通过校内测试或雅思6.5分）
                    <br>(4) 面试录取
                    （就读该课程，配偶可获得赴新西兰全职工作签证，小孩可免费就读当地学校）
                    <br>就读院校：维特利亚理工学院，尼尔森马尔伯勒理工学院
                    <br>学院优势：
                    与新西兰8大综合大学齐名，18大理工学院之一，同属新西兰教育局学历评估委员会（NZQA）资格认定第一类优质国立院校所获文凭均被新西兰教育局和中国教育部认可新西兰学历评估委员会。


                </li>
                <br><br><li>
                <p class="constrong">2.学士留学方案（一年）</p>
                您只需满足下列条件：
                <br>(1) 应往届中国大专或本科毕业
                <br>(2)	语言学习，英文需5分或以上（通过校内测试或雅思5分）
                <br>(3)	直入专业，英文需6分或以上（通过校内测试或雅思6分）
                <br>(4)	面试录取（我们将会为您提供：实习安排服务+就业安置服务）
            </li>
                <br><br><li>
                <p class="constrong">3.高中留学方案（三年）</p>
                如果您高中毕业想继续出国深造，我们为您提供以下三年学制的方案：
                <br>(1) 应往届高中结业或毕业生
                <br>(2) 语言学习，英文需5分或以上   （通过校内测试或雅思5分）
                <br>(3) 直入专业，英文需6分或以上   （通过校内测试或雅思6分）
                <br>(4) 面试录取，面试合格者方可报读该项目
                (我们将为您提供兼职推荐+实习安排及就业安置服务)
                <br>就读院校：维特利亚理工学院，奥塔哥理工学院，尼尔森马尔伯勒理工学院
                <br>学院优势；
                与新西兰8大综合大学齐名，18大理工学院之一，同属新西兰教育局学历评估委员会，（NZQA）资格认定第一类优质国立院校，所获本科文凭均被新西兰教育局和中国教育部认可。


            </li>

            </ul>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/special2-3.jpg" alt="">
            <p class="contitle" >人才输出前景</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>
                    <p class="constrong"> 1.商业管理类毕业生就业方向</p>
                    项目管理人员
                    <br>行政管理人员
                    <br>市场管理人员
                    <br>办公室管理人员
                    <br>项目经理
                    <br>市场、行政经理
                    <br>人力资源经理
                    <br>公司或企业经理等
                </li>
                <br><br><li>
                <p class="constrong"> 2.毕业就业单位</p>
                rogressive Enterprises Ltd, Fletcher Building Ltd, Fonterra Co-operative Group Ltd, Spotless Facility Services Ltd, Restaurant Brands, Air New Zealand, ANZ National Bank, Starbuck, Subway, Vodafone, New Zealand TV station等。

            </li>
                <br><br><li>
                <p class="constrong">3.项目福利简介</p>
                医疗、生育、教育免费及养老金
                <br>房屋、疾病、失业、未成年人、单身母亲/父亲   等补助
                <br>可移居澳洲或欧美国家，退休金由新西兰政府支付
                <br>注：最新福利政策请以新西兰政府信息公布为准

            </li>

            </ul>
            <br><br><br><br>
            <p style="width: 100%;height: auto;text-align: center;">
                <img style="width:70%;height:auto;text-align: center" src="__PUBLIC__/images/project/process.png" alt="">
            </p>
            <br><br><br>
            <br><br><br>
        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>