<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<section class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">开启美式教育新模式，未来领袖成长记</h1>
            <h1 class="subtitle">宾大全真体验冬令营</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study5-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.私立高校名师为你亲授美国名校课程。
                </li>
                <li>2.与美国同学共同上课，英文水平阶段性提升，思维扩展训练，感受激情课堂，共享青春校园。</li>
                <li>3.入住美国家庭，体验原味美国生活。</li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：9&#45;&#45;17岁在校生</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 中国--华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">从中国乘坐国际航班飞往华盛顿
                    </p>
                    <p class="consub">Day 2 你好华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        全天参观美国首都--华盛顿，做一个小政治家，了解美国的政治文化。参观充满神秘感的总统所在地—白宫；华盛顿最壮观的建筑—国会山（入内参观）；雄伟的林肯纪念堂和杰弗逊总统纪念堂。华盛顿最高建筑-华盛顿纪念碑以及美国最大的航空航天博物馆和自然历史博物馆。
                    </p>
                    <p class="consub">Day 3 华盛顿--费城 </p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        从华盛顿乘车前往美国旧都-费城，参观独立宫，自由钟。费城位于纽约和华盛顿之间，与与波士顿、纽约和华盛顿并称美东 4 大名城。1776 年美国的独立宣言诞生地。除了著名常春藤名校-宾夕法尼亚大学外，著名的钢琴家-朗朗的母校，柯蒂斯音乐学院也在费城。
                    </p>
                    <p class="consub">Day 4 宾大初体验</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：自主选课，体验宾夕法尼亚大学课程【平均每位学生每天可选 2-3 门课（1—1.5 小时/课），学生可根据自己实际情况，最多可选 15 课时】。学生在行前一周会收到选课单，并在宾大主队老师辅导下选择自己心仪课程。选课范围涉及宾大沃顿商学院，宾大文理学院，宾大工程学院等上百节课程。
                        <br>下午：安排参观宾大博物馆，了解美国历史。
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study5-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 15px;" src="__PUBLIC__/images/project/study5-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 宾大精英养成课</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：自主选课，参加宾大全真课堂。
                        <br>下午：乘地铁前往费城市中心著名的-Reading Terminal market ，大家在这里可以品尝世界各地美食，体验地道的美国生活。
                    </p>
                    <p class="consub">Day 6 宾大精英养成课</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：自主选课，体验宾大全真课堂。
                        <br>下午：前往费城市中心参观—市政厅；随后大家可以前往美国著名的连锁百货—梅西百货购物，选择自己喜欢的物品。
                    </p>
                    <p class="consub">Day 7  宾大精英养成课</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：自主选课，体验宾大全真课堂。
                        <br>下午：小组结业汇报+展示，和宾大优秀留学生进行心与心的交流。
                    </p>

                    <p class="consub">Day 8 费城--纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：早餐后从费城乘车前往世界上最繁华的大都市—纽约,参观美国联邦储备系统 ，然后前往美国和世界的金融、证券交易的中心-华尔街参观，感受世界经济脉搏。
                        <br>下午：前往联合国总部的所在地-联合国大厦内部参观。联合国由大会场大楼、秘书处大楼和哈马舍图书馆三部分组成。其中秘书处大楼位于中心，是联合国总部的核心建筑。
                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9  爱上哥大</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：前往常春藤名校--哥伦比亚大学参观，感受世界顶级校园文化。
                        <br>下午：参观 911 遗址后并登上西半球最高建筑—新世贸欣赏整个纽约全景。然后乘坐观光环岛游轮游览哈德逊河,经自由女神像和布鲁克林桥摄影留念。然后前往被誉为“世界十字路口”的时代广场参观。
                    </p>
                    <p class="consub">Day 10 纽约一日</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        前往全美最大的奥特莱斯购物--Woodbury Common Premium Outlets位于美国纽约州中央山谷、纽约市以北1小时车程处，是美东最大的Outlets，常年吸引着本地居民和来自世界各地的消费者。内有220多家店，品牌齐全，特别是有很多在别的地方很少出现的欧洲一线大牌，比较出名的有Gucci、迪奥、Burberry、范思哲、Prada、Dolce &Gabbana、Fendi、Jimmy Choo、 MaxMara、Giorgio Armani和Ugg。
                    </p>
                    <p class="consub">Day 11 纽约--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        乘坐国际航班，返回中国。
                    </p>
                    <p class="consub">Day 12 抵达中国，返回温馨的家。</p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study5-4.jpg" alt="">
                </div>
            </section>


            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <br><br><br>
            <br><br><br>
        </article>
    </section>

    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>