<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">酷学游美，畅玩一夏</h1>
            <h1 class="subtitle">美国户外全真体验营</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study3-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.美国名校深度探访，名校精英面对面交流。</li>
                <li>2.360度美国户外活动，依山傍水的露营地，特色美食的饕餮享受，装备齐全的户外设施，丰富多彩的竞技活动，给你一段难忘之旅。</li>
                <li>3.24小时安保的露营地，齐全医疗保障，安全舒心旅程。</li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1  中国--费城</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">乘机抵达费城，专车接往酒店休息，迎接丰富多彩的游学之旅。</p>
                    <br><p class="consub">Day 2 初见费城</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午前往费城参观自由钟和独立宫。然后前往著名的常春藤名校-宾夕法尼亚大学，由优秀留学生亲自带领参观，并与他们交流留学心得。了解常春藤名校的申请条件，流程和申请技巧。
                        <br>下午专车前往营地，参加入营仪式。开始为期一周与美国孩子同吃同住的精彩营地生活。
                    </p>
                    <br><p class="consub">Day 3 费城营地</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：搭帐篷技能训练，索道速滑。
                        <br>下午：皮划艇漂流，气垫水上跳。
                    </p>
                    <br><p class="consub">Day 4 费城营地</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：射箭，手工制作
                        <br>下午：山地骑车
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study3-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 0px;" src="__PUBLIC__/images/project/study3-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 费城营地</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午:真人CS大战，团队合作训练
                        <br>下午：骑马，攀岩
                    </p>
                    <p class="consub">Day 6 费城营地</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：野外生存训练
                        <br>下午：球类体育竞技训练，篝火晚会，中美文化交流
                    </p>
                    <p class="consub">Day 7 兰卡斯特</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：Kayak 、Paddleboards高低绳平衡力训练
                        <br>下午：结营仪式。
                    </p>

                    <p class="consub">Day 8 兰卡斯特--哈里斯堡</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：早餐后乘车前往阿米西。坐马车参观至今还保留是不用电、不用汽车的一支原生态民族。
                        <br>下午：前往美国最大的巧克力生产基地-Hershey，坐小火车参观巧克力的整个生产过程，并可以亲自动手制作巧克力带回家。
                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9  哈里斯堡--华盛顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：早餐后乘车前往美国的政治中心--华盛顿，参观林肯纪念堂；越战争纪碑，朝鲜战争纪念堂；杰弗逊总统纪念堂；美国总统府所在地--白宫；
                        <br>下午：参观华盛顿最美丽、最壮观的建筑-国会大厦以及自然历史博物馆和航空博物馆。
                    </p>
                    <p class="consub">Day 10 华盛顿--纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        从华盛顿出发，乘车前往美国的国歌诞生地-巴尔的摩，参观美丽的明珠港，大家可以自由欣赏明珠港的美丽风光 ，午餐后乘车前往纽约。
                    </p>
                    <p class="consub">Day 11 纽约纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：乘车前往世界上最繁华的大都市—纽约,参观911遗址后前往帝国大厦欣赏整个纽约全景，然后乘坐观光环岛游轮游览哈德逊河,经自由女神像和布鲁克林桥摄影留念。
                        <br>下午：参观第五大道、洛克菲勒中心、时代广场、联合国总部外观以及世界金融、証券交易中心华尔街。
                    </p>

                    <br><p class="consub">Day 12 纽约--西点军校--波斯顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：酒店早餐后乘车前往波士顿，途中参观世界著名的军事院校-西点军校。西点军校是美国历史最悠久的军事学院之一。
                        <br>晚上：抵达波斯顿.
                    </p>
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study3-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:85%;height:auto;margin-top: 20px;" src="__PUBLIC__/images/project/study3-5.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 13 嗨，波士顿</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早上：酒店早餐后，乘车前往世界顶级名校哈佛和麻省理工大学，并由本校优秀留学生为大家详细讲解。
                        <br>下午：参观波士顿三一教堂以及具有诗情画意的购物及饮食区–昆西市场，游客可自由选购当地风味的特产，晚餐享受美味的波士顿龙虾大餐。
                    </p>
                    <p class="consub">Day 14 波斯顿--纽约</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        早晨后从波士顿出发，返回纽约途中前往美国最大的outlet –Woodbury ,为自己的家人挑选精美礼物。
                    </p>
                    <p class="consub">Day 15 纽约--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        酒店早餐后，乘坐国际航班，返回舒适温馨的家。
                    </p>

                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">增值特色服务</p>
                <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                    <li>1.手拉手增值服务中美国际会为参加暑期夏令营的每个成员都会配有一个宾夕法尼亚大学在读学姐或学长。即使训练营结束，成员依旧可以与学姐学长联系，询问一切有关美国生活，旅游，考试，留学等问题。</li>
                    <br><li>2.免费一对一半小时留学考试咨询由中美国际专业金牌留学顾问，为每一个学员解答所有留学问题，根据学生自身情况，推荐美国学校申请策略。</li>
                    <br><li>3.免费托福或SAT介绍讲座由中美国际专业托福SAT名师，为学员介绍讲解托福SAT。介绍考试类型，出题思路及备考方法等。</li>
                    <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
                </ul>
                <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study3-6.jpg" alt="">

                <p class="contitle">设施介绍</p>
                <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                    <li><p class="constrong">1.	营地介绍</p>
                        营地距离费城大约2小时，依山傍水，是当地著名的度假胜地。每年超过五百名美国孩子参加营地活动。营地提供丰盛营养的三餐，住宿，各种活动场地和娱乐设施。
                    </li>
                    <br><li><p class="constrong">2.	学生宿舍</p>
                    在这珍贵的5天里，学员们将全新体验美国营地里和独有的露营生活，抬头看到满天的星星，完完全全沉浸在大自然的怀抱中。在营地中，中美两国小朋友每天一起同吃同住同玩，在玩的过程中学习英语，交流文化，促进友谊。我们最后一晚会安排中美联欢篝火晚会，安排丰富多彩的各种游戏活动，让营地生活更加多姿多彩。
                </li>
                    <br><li><p class="constrong">3.	学生食堂</p>
                    学生食堂设备齐全，还有专门的户外烧烤设施，孩子们在室内室外都可以享用美食。食堂提供的三餐经过营养师的特别鉴定，荤素按一定比例搭配，补充孩子每天所需的营养能量。
                </li>
                    <br><li><p class="constrong">4.	具体活动介绍</p>
                    和美国孩子们一起体验学习竞技丰富的体育运动：山地自行车、攀岩、山地。每个小队配有美国的职业辅导员，负责全程监管训练。在导师的带领下，学生将逐步提高体育竞技精神，团队合作能力，目标制定能力和领导能力等。学员每天将体验完全不同的体育项目和娱乐活
                </li>
                    <br><li><p class="constrong">5. 安全问题</p>
                    美国的营地管理体制非常严格。学生的衣食住行都是经过管理人员层层把关，24小时都有专业的营地负责人监管。营地也有设备齐全的医疗设备，专业医护人员随行。同时，美国拥有完善周全的保险体系。国际学生除了拥有100万美元的高额保险意外，还有相关运动类的双重保险。与此同时，中美国际会在营地里，与美国教练一起随时向家长反馈学生的日常情况。
                </li>
               <br><br><br>
               <br><br><br>
            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>