<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">精彩纷呈的澳洲研学之旅</h1>
            <h1 class="subtitle"></h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study8-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li><p class="constrong"> 1.“揭秘全球顶尖名校”</p>
                    世界级顶尖名校实地探访，古典优雅的校园环境，藏书量/藏品最丰富的校园图书馆和博物馆，给你独特的文化感受。
                </li>
                <li>
                    <p class="constrong">2.“国际精英的思维碰撞”</p>
                    有机会结交海量国际生，零距离深度交流异域文化，无限头脑风暴尽情开启。
                </li>
                <li>
                    <p class="constrong">3.“独特迷人澳洲风情”</p>
                    无限畅玩澳洲名城，多姿多彩的户外活动等着你去挑战。
                </li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 中国--悉尼</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        乘坐国际航班飞往澳洲“明星城市”-- 悉尼。夜宿航班上。
                    </p>
                    <br><p class="consub">Day 2 澳洲教育初体验</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：抵达营地，参加富有澳洲特色的欢迎仪式
                        <br>下午：参观澳洲“牛津”-- 悉尼大学。探索百年名校走过的岁月。

                    </p>
                    <br><p class="consub">Day 3 悉尼，百年风雨</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：百年悉尼的发展淬炼史。
                        <br>下午：前往维多利亚港，参观皇家植物园，悉尼歌剧院，及海港大桥。
                    </p>
                    <br><p class="consub">Day 4 文明与原始的碰撞</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：澳洲宗教及殖民历史介绍
                        <br>下午：参观悉尼最高建筑--悉尼塔，进入圣玛利亚大教堂，与海德公园
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study8-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study8-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 库克传奇</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：库克船长发现澳洲新大陆开启澳洲文明的传奇故事讲解。
                        <br>下午：到达悉尼城市的源头--达令港，俯瞰整座悉尼城的夜景，参观维多利亚女王大厦。

                    </p>
                    <p class="consub">Day 6 澳洲嘉年华</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：室内室外活动，感受繁华澳洲的休闲魅力。
                        <br>下午：前往世界闻名的邦代海滩游玩，这里有各类冲浪活动，有乐队演奏，有民俗活动、艺术展览活动等。
                        <br>晚上：举办海滨结业仪式，为优秀学员颁发奖项，为大家留下青春的纪念。
                    </p>
                    <p class="consub">Day 7 爱上悉尼</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：我徜徉在古老安静的岩石区，感受悉尼人特有的周末集市
                        <br>中午：前往素有”动物百科馆“之称的悉游玩。
                        <br>晚上：爱索尔湾乘船聆听众鸟振翅，迎着夕阳的余晖眺望海港大桥和歌剧院的壮丽。
                    </p>

                    <p class="consub">Day 8 阳光之城--布里斯本</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：布里斯本市区观光
                        <br>下午：参观布里斯班旧市政厅，南岸公园，奔向冲浪者的天堂--黄金海岸。

                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9 电影游乐园 </p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        全天畅游华纳电影城这个南半球唯一以电影为主题的游乐区。参观各式电影片场、音响舞台、服装间及道具布景等，近距离欣赏那些难得一见的特技表演以及枪战表演，身临其境的跟着电影角色上天入地。
                    </p>
                    <p class="consub">Day 10 天堂农场</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        参观别开生面的天堂农场，体验澳洲农庄风情，观看澳洲特色剪羊毛表演等。

                    </p>
                    <p class="consub">Day 11 布里斯本--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        回到温馨的家。
                    </p>
                    
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study8-4.jpg" alt="">
                </div>
            </section>



            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">特色行程</p>
                <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                    <li>营地位置 ：City Rd, Darlington NSW 2008, AU</li>
                    <br><li>授课情况：
                    <br>1.20人小班
                    <br>2.授课老师均持有TESOL（Teaching English to Speakers of Other Languages对外英语教学）证书
                </li>
                    <br><li>交通方式：学校宿舍-步行即到
                    <br>寄宿家庭-乘坐公共交通
                </li>
                    <br> <li>游学时长：11天
                </li>
                    <br><li>营地设施：图书馆、博物馆、体育馆及泳池（收费）、草坪运动场。
                </li>
                    <br><li>住宿安排：寄宿家庭：每个家庭安排 2-6人左右或每个房间安排2人左右
                </li>

                </ul>
                <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study8-5.jpg" alt="">

               <br><br><br>
               <br><br><br>
            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>