<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">ME--高端人才实训计划</h1>
            <h2 style="margin:0;font-size:30px;text-align:center;color:#1e3124"></h2>
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->

            <p style="font-size:16px;font-weight:bold;color:#525151">
                <br><br>
                <br><br>一、前言：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                迈尔斯国际教育为了让用户更好的进行海外学习及就业，帮助未来精英们尽早确定职业规划方向、优化职业发展流程，并能够在实践过程中积累精英高端人脉、最大程度的提高自身竞争优势，我们整合海外优质就业平台提供优质境外实习并获得名企推荐信，以助于用户及时了解并掌握领域前沿动态。
                <br>我们相信通过迈尔斯海外名校学习交流经历可以最大程度地增强海外学习背景，并且全程配备专业资深顾问综合每一位用户兴趣爱好，特长以及职业目标提供最佳私人定制的推荐方案，帮助学生筛选知名的研究项目并完成报名，辅助完成项目研究和研究论文。
            </p>
            <br><p style="font-size:16px;font-weight:bold;color:#525151"></p><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">二、实习产品：</p>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/back3-2.jpg" alt="">

            <br><p style="margin:10px 0;font-size:16px;font-weight:bold;color:#525151">三、高转&高升本 国际赛事清单：</p>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/back3-3.jpg" alt="">


            <br><br><p style="margin:10px 0;font-size:16px;font-weight:bold;color:#525151">四、2015 夏令营：</p>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/back3-4.jpg" alt="">
            <br><br><br>
            <br><br><br>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>


    </footer>
</div>
</body>
</html>