<!DOCTYPE html>
<html lang="zh-EN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍详细|Talent consulting</title>
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <!--[if lt IE 9]>
    <script>(function(){if (!/*@cc_on!@*/0) return;var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');var i= e.length;while (i--){document.createElement(e[i])}})()</script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--include header.html-->
    <header id="header" class="header">
        <div class="h-wrap">
            <a class="h-log" href=""></a>
            <nav class="h-nav">
                <a class="h-b-a" href="{:U('Index/index')}">首页</a>
                <a class="h-b-a" href="{:U('Article/projLevelOne')}">项目介绍</a>
                <a class="h-b-a" href="{:U('Article/listConsult')}">达人资讯</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=community')}">迈尔斯社群</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=about')}">关于我们</a>
                <a class="h-b-a" href="{:U('Article/showStaticPage', 'name=contact')}">联系我们</a>
            </nav>
        </div>
    </header>
    <article class="banner">
        <img class="b-img" src="__PUBLIC__/images/project-banner.png" alt="">
    </article>
    <section class="main">
        <article class="detailed">
            <!--内容宽度1200px-->
            <br><br><br>
            <h1 class="title">探秘世界顶级艺术殿堂</h1>
            <h1 class="subtitle">俄罗斯魅力名城游学之旅</h1>
            <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study7-1.jpg" alt="">
            <!--<p style="text-align:center;font-size:24px;color:#7c7b7b">2016年09月09日-2017年09月08日</p>-->
           <!-- <br><br>
            <p style="font-size:16px;font-weight:bold;color:#525151">-->

              <!--  <br><br>一、项目简介：</p>
            <p style="font-size:16px;line-height:26px;color:#525151">
                零距离贴近美国校园生活，与美国小伙伴同吃同住，感受地道校园文化，提高口语和听力，与此同时，我们还将带你入住当地友好家庭，体验美国人的家庭文化，美国常春藤名校深度探访，带给你世界经济的教育体验。
            </p>-->

            <p class="contitle">推荐理由</p>
            <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                <li>1.全球首次邀约：世界顶级芭蕾学校”瓦冈诺娃芭蕾学院”首次邀约国外学生参与课程。
                    </li>
                <li>2.零距离对话大师：瓦冈诺娃资深大师亲自高阶授课，有机会与国际学生才艺大比拼，汲取深刻的学术思想和多元思维。</li>
                <li>3.实力证书颁发：参与瓦冈诺娃芭蕾学院举办的正式演出，并获得由学院颁发的证书。</li>
                <li>4.魅力名城深度游：畅游古典文化名城，深度体验和了解古典欧洲文化，感受古典欧洲文化。</li>
                <!--<br><p style="font-size:16px;font-weight:bold;color:#525151">招生对象：初一至高三</p><br>-->
            </ul>

            <p class="contitle">行程安排</p>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" width:1200px;height:auto; margin-top:0px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:570px;height: auto; padding-right:30px;overflow:hidden;">
                    <p class="consub">Day 1 入住瓦岗诺娃大学</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        乘飞机前往俄罗斯，抵达谢列梅季耶娃机场，乘坐大巴直达学校，入住宿舍。
                    </p>
                    <br><p class="consub">Day 2 开启艺术之旅</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午简介学校概况以及分班测试，了解俄国的学习模式以及交通信息等注意事项。
                    </p>
                    <br><p class="consub">Day 3 触碰芭蕾天堂</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        感受瓦岗诺娃大学的特色培训课程，观摩大师高阶授课

                    </p>
                    <br><p class="consub">Day 4 深度艺术交流</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        与莫斯科大学的老师同学们亲密互动，分组完成项目作业，并且与国际学生进行才艺大比拼。
                    </p>

                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align: right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study7-2.jpg" alt="">
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study7-3.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <p class="consub">Day 5 柴可夫斯基音乐学院</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        畅游世界首屈一指的顶级音乐学院，现场领略大师级音乐家的独家演奏。

                    </p>
                    <p class="consub">Day 6 莫斯科大剧院</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        探访历史悠久，享誉天下的莫斯科地标性建筑.
                    </p>
                    <p class="consub">Day 7 马林斯基大剧院</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        马林斯基剧院曾经在苏联时代被叫作“基洛夫剧院”，该团是现在世界上的四大芭蕾舞团之一，其他并列的还有：巴黎歌剧院芭蕾舞团、英国皇家芭蕾舞团、美国的纽约市芭蕾舞团。走进剧院会看到，剧院的穹顶、装饰都有着类似教堂的壁画，处处彰显着“神性”的感觉。


                    </p>

                    <p class="consub">Day 8 圣彼得堡</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        圣彼得堡，建在波罗的海东岸的涅瓦河口，整个城区分布在涅瓦河三角洲的岛屿上，许多河流穿越而过，别具水城风情，故有“北方威尼斯”之称。与莫斯科相比圣彼得堡更具皇家风范。 参观东宫：冬宫( Winter Palace,坐落在圣彼得堡宫殿广场上，原为俄罗斯帝国沙皇的皇宫，十月革命后辟为圣彼得堡国立艾尔米塔什博物馆的一部分。是18世纪中叶俄罗斯新古典主义建筑的杰出典范。 晚上欣赏涅瓦河，整条河流非常的温柔、恬静、优美。河畔还有青铜骑士像、彼得保罗要塞、彼得宫（即夏宫，被称为“俄罗斯的凡尔赛宫”）。
                    </p>
                </div>
            </section>
            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style=" margin-top: 0px;float: left;width:570px;height: auto;padding-right: 30px; overflow:hidden;">
                    <p class="consub">Day 9 圣彼得堡 </p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        参观彼得大帝夏宫 彼得大帝夏宫是历代俄国沙皇的郊外离宫。其外貌简朴庄重，内部装饰华贵。当时的许多大型舞会、宫廷庆典等活动都在这里举行，彼得大帝生前每年必来此度夏。 晚上欣赏圣彼得堡美丽的夜景。
                    </p>
                    <p class="consub">Day 10 圣彼得堡</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        参观叶卡捷琳娜花园。花园中的宫殿是典型的巴洛克风格，在宫殿的前面便是美丽的大花园，当花期到来的时候，花园中花团锦簇，对于女性具有极大的吸引力。
                    </p>
                    <p class="consub">Day 11 革命圣地</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：红场
                        <br>俄罗斯红场是当地非常出名的一个广场，建筑都是非常有韵味的，而且当你走进红场的时候，能够感受到它经历过历史的沧桑，是一个十分有趣的地方。
                        <br>下午：列宁纪念馆
                        <br>列宁墓是莫斯科著名建筑。位于红场西侧，由红色花岗石和黑色长石建成。无产阶级革命导师列宁的遗体即安放于建筑内部的水晶棺中，身上覆盖着苏联国旗。脸和手都由特制的灯光照着，清晰而安详。
                    </p>



                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;text-align:right;">
                    <img style="width:90%;height:auto;margin-top: 40px;" src="__PUBLIC__/images/project/study7-4.jpg" alt="">
                </div>
            </section>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section class="mainContext" style=" display: block; width:1200px;height:auto; margin-top:40px;padding: 0px;position:relative;margin-left: auto;margin-right: auto;">
                <div class="leftContext" style="float: left;width:600px;height: auto;text-align: left; overflow:hidden;margin-top: 0px;">
                    <img style="width:85%;height:auto;margin-top: 20px;" src="__PUBLIC__/images/project/study7-5.jpg" alt="">
                </div>
                <div class="rightContext" style="float: right;width:600px;height: auto;margin-top: 0px;">
                    <br><p class="consub">Day 12 无名烈士墓</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        上午：无名烈士墓;正面朝北、东西走向的深红色大理石陵墓上，稍靠西侧陈设着钢盔和军旗的青铜雕塑，造型简洁明快，蕴意肃穆深长。墓前有一个凸型五星状的火炬，五星中央喷出的火焰，从建成时一直燃烧，从未熄灭，它象征着烈士的精神永远光照人间。
                    </p>
                    <br><p class="consub">Day 13 图拉小镇</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">

                    </p>
                    <p class="consub">Day 14 瓦岗诺瓦学院</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">
                        进行结业语言测试考核，并且颁发证书以及纪念品。合影留念，准备回国
                    </p>
                    <p class="consub">Day 15 俄罗斯--中国</p>
                    <p style="margin:10px 0;font-size:16px;color:#525151">

                    </p>

                </div>
            </section>

            <br><br><br>
            <br><br><br>

            <img style="width:100%;height:auto;" src="__PUBLIC__/images/project/divider.png" alt="">
            <section style="margin-top: 60px">
               <p class="contitle">特色行程</p>
                <ul style="padding-left:5px;font-size:16px;line-height:24px;color:#525151;list-style:none">
                    <li><p class="constrong">1.报价包含</p>
                        签证及服务费、境外学习与活动费、往返国际机票费、境外内陆段机票费（如有）、行程标注景点首道门票费、司机导游小费、境外保险费及境外食宿交通费。
                    </li>
                    <br><li><p class="constrong">2.报价不包含</p>
                    <br>护照办理费、办理签证产生的交通食宿费用、国内到离境机场的交通食宿费用、非行程所列景点门票费、行李托运费（可能产生）、司机导游超时服务费、通信等个人消费。
                </li>
                    <br><li><p class="constrong">3.旅行证件</p>
                    <br>带好护照（必须半年以上有效期），建议带一份护照首页复印件及签证页的复印件，最好随身准备两张一寸彩色照片。
                </li>
                    <img style="width:100%;height:auto;margin:60px 0px" src="__PUBLIC__/images/project/study7-7.jpg" alt="">
                    <br><li><p class="constrong">4.常用物品</p>
                    （1）出团时请自备洗漱用品（牙膏、牙刷、拖鞋等，因按国际惯例，为环保，酒店一般不配备此类物品）；
                    <br>（2）少量常用药品（如感冒药、消炎药、肠胃药、晕车药等，根据自身需求而定）；
                    <br>（3）转换插头（“万能”插头或符合目的地国家标准的转换插头）；
                    <br>（4）请准备具有中国特色的精致小礼物1-2份，以便课程结束后给寄宿家庭成员以及营地学校的外籍老师。
                </li>
                    <br><li><p class="constrong">5.钱财准备</p>
                    按我国外汇管理的有关规定，公民出国游每人允许携带外币现钞等值5000美元出境
                    注：携带金额依据个情况而定，因团费已包含必备开支，建议携带一张国际信用卡，不建议携带大量现金，注意财物安全。
                </li>
                    <br><li><p class="constrong">6.通讯准备</p>
                     建议学生带一个开通“国际漫游”的手机卡（具体资费请咨询当地营业厅）。</li>
                    <br><li><p class="constrong">7.签证信息</p>
                    签证形式：递交签证材料，并本人亲自到签证中心录取指纹。
                    <br>审核周期：2-3周（具体以使馆审批进度为准）可以在签证中心申请加急一周内签证快速审核。
                </li>
                    <br><li><p class="constrong">8.签证材料</p>
                    有效期6个月以上的护照、签证照片、身份证复印件、户口本复印件、出生医学证明、学习证明、父母工作证明、父母委托书、资产证明等。详细情况，请咨询签证老师。
                </li>
                </ul>


               <br><br><br>
               <br><br><br>
            </section>

        </article>
    </section>
    <!--include footer.html-->
    <footer class="footer">
        <div class="f-link">
            <a class="f-l-wx f-l-icon" href=""></a>
            <a class="f-l-wb f-l-icon" href=""></a>
            <a class="f-l-f f-l-icon" href=""></a>
            <a class="f-l-fx f-l-icon" href=""></a>
            <a class="f-l-in f-l-icon" href=""></a>
            <a class="f-l-g f-l-icon" href=""></a>
        </div>
        <article class="f-bom">
            <h2 class="f-m-tit">迈尔斯国际教育</h2>
            <p class="f-m-tel">028-85963901</p>
            <p class="f-m-p">
                <span class="f-m-adds">地址：成都市高新区盛安街133号汇锦广场A座11层</span>
                <span class="f-m-website">网址：www.my-earth.cn</span>
            </p>
            <p class="f-m-copy">Copyright © 2015迈尔斯 沪ICP备10011451号-6</p>
        </article>

    </footer>
</div>
</body>
</html>